// @import "./../../../styles/container";
@import "../../../styles/mixin";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 246px;
  @include for-size(tablet) {
    gap: 40px;
    padding-bottom: 271px;
  }
  @include for-size(laptop) {
    gap: 58px;
    padding-bottom: 395px;
  }
  @include for-size(desktop) {
    gap: 60px;
    padding-bottom: 266px;
  }
}

.infoNavigat {
  div {
    padding-left: 0;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 64px;
  &__sidebar {
    display: none;
    width: 154px;
  }
  &__settings {
    display: flex;
  }

  @include for-size(tablet) {
    gap: 93px;
    &__settings {
      gap: 57px;
    }
    &__sidebar {
      display: block;
      width: 154px;
    }
  }

  @include for-size(laptop) {
    gap: 86px;
    &__sidebar {
      width: 300px;
    }
    &__settings {
      gap: 87px;
    }
  }

  @include for-size(desktop) {
    gap: 111px;
    &__settings {
      gap: 197px;
    }
  }
}
