@import "./../../../styles/container";
@import "../../../styles/mixin";

.infoNavigat {
  div {
    padding-left: 0;
  }
}
.settings {
  display: flex;
  flex-direction: column;
  padding-bottom: 300px;
  gap: 30px;

  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  @include for-size(tablet) {
    flex-direction: row;
  }
  @include for-size(tablet) {
    /* Змініть стилі для tablet тут */
    flex-direction: row;
    .sideBar {
      display: none;
    }
  }
}
