@import "../styles/colors";
@import "../styles/container";
@import "../styles/mixin";

.develop {
  display: none;
  @include for-size(tablet) {
    display: block;
  }
  &__title {
    @include for-size(tablet) {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 1.4px;
      margin-bottom: 31px;
    }
    @include for-size(laptop) {
      font-size: 23px;
      line-height: 30px;
      letter-spacing: 2px;
      margin-bottom: 50px;
    }
    @include for-size(desktop) {
      font-size: 30px;
      line-height: 39px;
      letter-spacing: 2.7px;
      margin-bottom: 70px;
    }
  }

  &__box {
    @include for-size(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__pic {
    @include for-size(tablet) {
      width: 109px;
      height: 109px;
    }
    @include for-size(laptop) {
      width: 164px;
      height: 164px;
    }
    @include for-size(desktop) {
      width: 214px;
      height: 214px;
    }
  }
  &__list {
    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 298px;
    }
    @include for-size(laptop) {
      max-width: 448px;
    }
    @include for-size(desktop) {
      max-width: 582px;
    }
  }
  &__item {
    @include for-size(tablet) {
      font-size: 10px;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0.4px;
      padding-left: 20px;
      background-image: url("../../images/services/development/point.svg");
      background-size: 12px 12px;
      background-color: rgba(255, 255, 255, 0.7);
      background-position: 0 2px;
      background-repeat: no-repeat;
    }
    @include for-size(laptop) {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.7px;
      padding-left: 28px;
      background-size: 18px 18px;
    }
    @include for-size(desktop) {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.8px;
      padding-left: 34px;
      background-size: 23px 23px;
    }
  }

  &__num {
    @include for-size(tablet) {
      font-size: 77px;
      font-weight: 400;
      line-height: 90px;
      letter-spacing: 2.3px;
      color: $placeholder-color;
    }
    @include for-size(laptop) {
      font-size: 115px;
      line-height: 140px;
      letter-spacing: 3.5px;
    }
    @include for-size(desktop) {
      font-size: 150px;
      line-height: 140px;
      letter-spacing: 4.5px;
    }
  }
}
