@import "../../styles/colors";
@import "../../styles/mixin";

.security {
  display: flex;
  padding-right: 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  padding: 33px 16px 33px 17px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 25%),
    rgba(118, 228, 215, 25%)
  );

  @include for-size(tablet) {
    width: 234px;
    padding: 56px 35px 57px;
    justify-content: center;
    border-radius: 8px;
  }

  @include for-size(laptop) {
    min-width: 378px;
    padding: 84px 72px 85px 72px;
    border-radius: 12px;
  }

  @include for-size(desktop) {
    min-width: 492px;
    padding: 110px 94px 111px 94px;
    border-radius: 15px;
  }

  &__img {
    width: 17px;

    @include for-size(tablet) {
      width: 25px;
    }

    @include for-size(laptop) {
      width: 38px;
    }

    @include for-size(desktop) {
      width: 50px;
    }
  }

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
    margin-top: 11px;

    @include for-size(tablet) {
      margin-bottom: 39px;
      margin-top: 17px;
    }

    @include for-size(laptop) {
      margin-top: 25px;
      margin-bottom: 59px;
    }

    @include for-size(desktop) {
      margin-bottom: 77px;
      margin-top: 33px;
    }
  }

  &__title {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.49%;
    letter-spacing: 1.26px;
    margin-left: 5px;

    @include for-size(tablet) {
      font-size: 15px;
      letter-spacing: 1.391px;
      margin-left: 20px;
    }

    @include for-size(laptop) {
      font-size: 23px;
      letter-spacing: 2.079px;
    }

    @include for-size(desktop) {
      margin-left: 29px;
      font-size: 30px;
      letter-spacing: 2.7px;
    }
  }

  &__text {
    max-width: 257px;
    color: #000;
    text-align: center;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include for-size(tablet) {
      max-width: 238px;
      font-size: 10.305px;
      line-height: normal;
    }

    @include for-size(laptop) {
      min-width: 356px;
      font-size: 18px;
      line-height: normal;
    }

    @include for-size(desktop) {
      min-width: 463px;
      font-size: 20px;
      line-height: normal;
    }
  }
}
