@import "../../styles/colors";
@import "../../styles/mixin";

.security {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 32px 16px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 25%),
    rgba(118, 228, 215, 25%)
  );
  box-shadow: 2px 3px 7.5px 0px rgba(0, 0, 0, 0.15);

  @include for-size(tablet) {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    gap: 40px;
    padding: 50px 34px;
    border-radius: 26px;

    &:hover {
      box-shadow: 4px 5px 7.5px 0px rgba(0, 0, 0, 0.17);
      transform: translateY(-0.5rem);
    }
  }
  @include for-size(laptop) {
    gap: 60px;
    padding: 80px 72px;
    border-radius: 28px;
  }
  @include for-size(desktop) {
    gap: 80px;
    padding: 100px 92px;
    border-radius: 32px;
  }

  &__img {
    width: 25px;
    margin-right: 15px;

    @include for-size(tablet) {
      width: 25px;
      margin-right: 20px;
    }
    @include for-size(laptop) {
      width: 38px;
      margin-right: 30px;
    }
    @include for-size(desktop) {
      width: 50px;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    position: relative;
    right: 10px;

    @include for-size(tablet) {
      right: 20px;
    }
    @include for-size(laptop) {
      right: 30px;
    }
    @include for-size(desktop) {
      right: 36px;
    }
  }

  &__title {
    text-align: center;
    width: 200px;

    @include for-size(tablet) {
      width: 280px;
    }
    @include for-size(laptop) {
      width: 300px;
    }
    @include for-size(desktop) {
      width: 360px;
    }
  }

  &__text {
    text-align: center;
  }
}
