@import "../../styles/colors";
@import "../../styles/mixin";

.member {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  padding: 30px 0;
  background: linear-gradient(
    90deg,
    rgba(175, 218, 237, 0.14) 0%,
    rgba(190, 244, 205, 0.34) 35.3%,
    rgba(243, 182, 241, 0.1) 100%
  );

  @include for-size(tablet) {
    padding: 0;
    gap: 10px;
    flex-direction: column;
    box-shadow: none;
    background: transparent;
  }
  @include for-size(laptop) {
    gap: 16px;
  }
  @include for-size(desktop) {
    gap: 20px;
  }

  &__avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;

    @include for-size(tablet) {
      width: 94px;
      height: 94px;
    }
    @include for-size(laptop) {
      width: 150px;
      height: 150px;
    }
    @include for-size(desktop) {
      width: 200px;
      height: 200px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include for-size(tablet) {
      align-items: center;
    }
    @include for-size(laptop) {
      gap: 8px;
    }
    @include for-size(desktop) {
      gap: 10px;
    }
  }

  .member__name,
  .member__position {
    color: $blog-card-text-color;

    @include for-size(tablet) {
      text-align: center;
    }
  }

  &.active {
    @include for-size(tablet) {
      gap: 12px;
    }
    @include for-size(laptop) {
      gap: 18px;
    }
    @include for-size(desktop) {
      gap: 24px;
    }

    .member__avatar {
      @include for-size(tablet) {
        width: 136px;
        height: 136px;
      }
      @include for-size(laptop) {
        width: 220px;
        height: 220px;
      }
      @include for-size(desktop) {
        width: 286px;
        height: 286px;
      }
    }

    .member__position {
      color: $blog-card-text-color;
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 0.4px;

      @include for-size(tablet) {
        font-size: 14px;
        letter-spacing: 0.6px;
      }
      @include for-size(laptop) {
        font-size: 16px;
        letter-spacing: 0.8px;
      }
      @include for-size(desktop) {
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
  }
}

.member__linkedin {
  transition: filter 0.3s ease-in-out;
  width: 18px;
  height: 18px;

  @include for-size(tablet) {
    width: 22px;
    height: 22px;
  }
  @include for-size(laptop) {
    width: 26px;
    height: 26px;
  }
  @include for-size(desktop) {
    width: 28px;
    height: 28px;
  }

  &:hover {
    @include for-size(tablet) {
      filter: invert(46%) sepia(77%) saturate(422%) hue-rotate(155deg)
        brightness(90%) contrast(91%);
    }
  }
}

.member__avatar_img {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.4) translateY(8px);
  }
}
