@import "../styles/mixin";

.contact_page {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;

  @include for-size(tablet) {
    min-height: calc(100vh - 740px);
    margin-top: 100px;
  }

  @include for-size(laptop) {
    margin-top: 120px;
    min-height: calc(100vh - 580px);
  }

  @include for-size(desktop) {
    margin-top: 160px;
    min-height: calc(100vh - 460px);
  }
}
