@import "../../../styles/container";
@import "../../../styles/mixin";
@import "../../../styles/colors";

.infoNavigat {
  div {
    padding-left: 0;
  }
}

.project {
  display: flex;
  gap: 30px;
  padding-bottom: 300px;
}
.project__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 81px;
}
