@import "../../../styles/container";
@import "../../../styles/mixin";
@import "../../../styles/colors";

.infoNavigat {
  div {
    padding-left: 0;
    margin-top: 0;
    @include for-size(laptop) {
      padding-top: 10px;
    }
    @include for-size(desktop) {
      padding-top: 0;
    }
  }
}

.project {
  display: flex;
  padding-bottom: 300px;
}
.project__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 81px;
}
