@import "../../../styles/mixin";

.page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 105px;

  @include for-size(tablet) {
    gap: 80px;
    margin-top: 60px;
    margin-bottom: 155px;
  }

  @include for-size(laptop) {
    gap: 120px;
    margin-top: 100px;
    margin-bottom: 250px;
  }

  @include for-size(desktop) {
    gap: 150px;
    margin-top: 120px;
    margin-bottom: 380px;
  }
}
