@import "./../styles/colors";
@import "./../styles/mixin";
@import "./../styles/container";

.projects {
  margin-top: 42px;
  margin-bottom: 30px;

  @include for-size(tablet) {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  @include for-size(laptop) {
    margin-top: 100px;
    margin-bottom: 140px;
  }

  @include for-size(desktop) {
    margin-top: 150px;
    margin-bottom: 165px;
  }

  &__cards_desktop {
    display: none;
    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      gap: 45px;
    }
  }

  &__cards_mobile {
    display: flex;
    flex-direction: column;
    gap: 45px;
    @include for-size(tablet) {
      display: none;
    }
  }
}

.filter {
  &__main_button {
    font-size: 12px;
    color: $heading-blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    margin-bottom: 17px;
  }
  

  &__icon {
    height: 100%;

    &.opened {
      transform: rotate(180deg);
    }
  }

  &__opened{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 34px;
  }

  &__title{
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  &__title_icon{
    height: 8px;
    width: 8px;
  }

  &__technology {
    // background: linear-gradient(139deg, #d8eff9 0%, #addbef 100%);
    // box-shadow: $button-blue-shadow;
    // border-radius: 10px;
    // padding: 20px;
    // width: 100%;
    // box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__country {
    // background: linear-gradient(139deg, #d8eff9 0%, #addbef 100%);
    // box-shadow: $button-blue-shadow;
    // border-radius: 10px;
    // padding: 20px;
    // width: 100%;
    // box-sizing: border-box;
    max-width: 232px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__button {
    padding: 0;
    text-align: left;
    border: none;
    background-color: transparent;
    color: black;
    width: 51px;
    font-size: 11px;
    line-height: 130.49%;
    letter-spacing: 0.414px;
  }

  &__button_country{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
  text-align: left;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.414px;
    width: 110px;
  }
}

.buttonActive {
  color: $heading-blue-color;
}

.span1{
  color: $heading-blue-color;
}
