@import "./../styles/colors";
@import "./../styles/mixin";
@import "./../styles/container";

.projects {
  margin-bottom: 100px;

  @include for-size(tablet) {
    margin-bottom: 140px;
  }
  @include for-size(laptop) {
    margin-bottom: 240px;
  }
  @include for-size(desktop) {
    margin-bottom: 300px;
  }

  &__cards_desktop {
    display: none;
    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      gap: 45px;
    }
  }

  &__cards_mobile {
    display: flex;
    flex-direction: column;
    gap: 45px;
    @include for-size(tablet) {
      display: none;
    }
  }

  &__nothing {
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    letter-spacing: 1.6px;
    font-weight: 400;
    line-height: 130%;

    @include for-size(tablet) {
      font-size: 18px;
      letter-spacing: 2.2px;
    }

    @include for-size(laptop) {
      font-size: 22px;
      letter-spacing: 2.6px;
    }

    @include for-size(desktop) {
      font-size: 28px;
      letter-spacing: 3px;
      text-align: center;
    }
  }
}

.filter {
  &__main_button {
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    margin-bottom: 17px;
    line-height: 130%;
    letter-spacing: 0.49px;
    transition: color 0.2s ease-in-out;

    &_active {
      color: $heading-blue-color;
    }

    @include for-size(tablet) {
      margin-bottom: 23px;
      letter-spacing: 0.629px;
    }
    @include for-size(laptop) {
      font-size: 16px;
    }
    @include for-size(desktop) {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  &__icon {
    height: 100%;

    &.opened {
      transform: rotate(180deg);
    }
  }

  &__opened {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;

    @include for-size(tablet) {
      gap: 40px;
      margin-bottom: 60px;
    }

    @include for-size(laptop) {
      gap: 50px;
      margin-bottom: 70px;
    }

    @include for-size(desktop) {
      gap: 60px;
      margin-bottom: 100px;
    }
  }

  &__filters {
    display: flex;
    gap: 22px;
    flex-direction: column;

    @include for-size(tablet) {
      flex-direction: row;
      gap: 30px;
    }

    @include for-size(laptop) {
      flex-direction: row;
      gap: 35px;
    }

    @include for-size(desktop) {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__title {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    line-height: 130%;
    letter-spacing: 0.414px;

    @include for-size(tablet) {
      font-size: 12px;
      letter-spacing: 0.49px;
    }

    @include for-size(laptop) {
      font-size: 16px;
      letter-spacing: 0.49px;
    }

    @include for-size(desktop) {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  &__title_icon {
    height: 8px;
    width: 8px;

    @include for-size(tablet) {
      height: 15px;
      width: 15px;
    }
    @include for-size(laptop) {
      height: 20px;
      width: 20px;
    }
    @include for-size(desktop) {
      height: 24px;
      width: 24px;
    }
  }

  &__filters_block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__wrapper {
    background-color: white;
    box-shadow: 0px 3px 32px 0px rgba(90, 92, 94, 0.2);
    border-radius: 6px;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;

    &___country {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      width: 100%;
      grid-gap: 18px;
    }

    @include for-size(tablet) {
      grid-gap: 14px;
      padding: 20px;
      border-radius: 8px;

      &___country {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-row-gap: 20px;
      }
    }
    @include for-size(laptop) {
      grid-gap: 18px;
      padding: 22px;
      border-radius: 12px;

      &___country {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        row-gap: 28px;
      }
    }
    @include for-size(desktop) {
      grid-gap: 23px;
      padding: 26px;
      border-radius: 15px;

      &___country {
        row-gap: 35px;
      }
    }
  }

  &__button {
    padding: 0;
    text-align: left;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.4px;

    @include for-size(tablet) {
      font-size: 12px;
      letter-spacing: 0.49px;
    }

    @include for-size(laptop) {
      font-size: 16px;
      letter-spacing: 0.629px;
    }

    @include for-size(desktop) {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  &__button_country {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
    text-align: left;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.414px;
    width: 48%;

    @include for-size(tablet) {
      width: 33.3%;
      gap: 7px;
      font-size: 12px;
      letter-spacing: 0.49px;
    }

    @include for-size(laptop) {
      gap: 10px;
      font-size: 16px;
      letter-spacing: 0.629px;
    }

    @include for-size(desktop) {
      gap: 12px;
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }
}

.buttonActive {
  color: $heading-blue-color;
}

.pagination {
  margin-top: 30px;
  justify-content: center;

  @include for-size(tablet) {
    margin-top: 60px;
  }

  @include for-size(laptop) {
    margin-top: 80px;
  }

  @include for-size(desktop) {
    margin-top: 100px;
  }
}
