@import "./../styles/colors";
@import "./../styles/mixin";
@import "./../styles/container";

.projects {
  margin-top: 42px;
  margin-bottom: 30px;

  @include for-size(tablet) {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  @include for-size(laptop) {
    margin-top: 100px;
    margin-bottom: 140px;
  }

  @include for-size(desktop) {
    margin-top: 150px;
    margin-bottom: 165px;
  }

  &__cards_desktop {
    display: none;
    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      gap: 45px;
    }
  }

  &__cards_mobile {
    display: flex;
    flex-direction: column;
    gap: 45px;
    @include for-size(tablet) {
      display: none;
    }
  }
}

.filter {
  &__main_button {
    font-size: 12px;
    color: $heading-blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    margin-bottom: 17px;
    line-height: 130.49%;
    letter-spacing: 0.49px;

    @include for-size(tablet) {
      font-size: 14px;
      margin-bottom: 23px;
      line-height: 130.49%;
      letter-spacing: 0.629px;
    }

    @include for-size(laptop) {
      font-size: 16px;
    }

    @include for-size(desktop) {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  &__icon {
    height: 100%;

    &.opened {
      transform: rotate(180deg);
    }
  }

  &__opened {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 34px;

    @include for-size(tablet) {
      margin-bottom: 50px;
    }

    @include for-size(laptop) {
      margin-bottom: 70px;
    }

    @include for-size(desktop) {
      margin-bottom: 100px;
    }
  }

  &__filters {
    display: flex;
    gap: 22px;
    flex-direction: column;

    @include for-size(tablet) {
      flex-direction: row;
      gap: 30px;
    }

    @include for-size(laptop) {
      flex-direction: row;
      gap: 35px;
    }

    @include for-size(desktop) {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__title {
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    line-height: 130.49%;
    letter-spacing: 0.414px;

    @include for-size(tablet) {
      font-size: 12px;
      letter-spacing: 0.49px;
    }

    @include for-size(laptop) {
      font-size: 16px;
      letter-spacing: 0.49px;
    }

    @include for-size(desktop) {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  &__title_icon {
    height: 8px;
    width: 8px;

    @include for-size(tablet) {
      height: 15px;
      width: 15px;
    }
    @include for-size(laptop) {
      height: 20px;
      width: 20px;
    }
    @include for-size(desktop) {
      height: 24px;
      width: 24px;
    }
  }

  &__filters_block{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__wrapper {
    background: linear-gradient(139deg, #dff6ff 0%, #c3edff 100%);
    box-shadow: $button-blue-shadow;
    border-radius: 6px;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 12px;

    &___country {
      width: 100%;
      gap: 0;
      row-gap: 18px;
    }

    @include for-size(tablet) {
      gap: 14px;
      padding: 20px;
      border-radius: 8px;

      &___country {
        gap: 0;
        row-gap: 20px;
      }
    }
    @include for-size(laptop) {
      gap: 18px;
      padding: 22px;
      border-radius: 12px;

      &___country {
        gap: 0;
        row-gap: 28px;
      }
    }
    @include for-size(desktop) {
      gap: 23px;
      padding: 26px;
      border-radius: 15px;

      &___country {
        gap: 0;
        row-gap: 35px;
      }
    }
  }

  &__button {
    padding: 0;
    text-align: left;
    border: none;
    background-color: transparent;
    color: black;
    width: 51px;
    font-size: 11px;
    line-height: 130.49%;
    letter-spacing: 0.414px;

    @include for-size(tablet) {
      width: 60px;
      font-size: 12px;
      letter-spacing: 0.49px;
    }

    @include for-size(laptop) {
      width: 77px;
      font-size: 16px;
      letter-spacing: 0.629px;
    }

    @include for-size(desktop) {
      width: 99px;
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  &__button_country {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
    text-align: left;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.414px;
    width: 48%;

    @include for-size(tablet) {
      width:33.3%;
      gap: 7px;
      font-size: 12px;
      letter-spacing: 0.49px;
    }

    @include for-size(laptop) {
      gap: 10px;
      font-size: 16px;
      letter-spacing: 0.629px;
    }

    @include for-size(desktop) {
      gap: 12px;
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }
}

.buttonActive {
  color: $heading-blue-color;
}
