@import "../styles/mixin";
@import "../styles/container";

.heading {
  &__title {
    max-width: 44px;
    color: rgba(0, 0, 0, 0.64);
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.49%;
    letter-spacing: 0.149px;

    @include for-size(tablet) {
      max-width: 93px;
      font-size: 62px;
      letter-spacing: 0.313px;
    }

    @include for-size(laptop) {
      max-width: 216px;
      font-size: 86px;
      letter-spacing: 0.43px;
    }

    @include for-size(desktop) {
      max-width: 143px;
      font-size: 96px;
      letter-spacing: 0.48px;
    }
  }

  &__svg {
    width: 145px;
    stroke-width: 0.7px;

    @include for-size(tablet) {
      width: 305px;
      stroke-width: 1.6px;
    }

    @include for-size(laptop) {
      width: 514px;
      stroke-width: 2.2px;
    }

    @include for-size(desktop){
        width: 522px;
        stroke-width: 2.6px;
    }
  }

  &__text {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.49%;
    letter-spacing: 1.012px;
    margin-left: 40px;

    @include for-size(tablet) {
      font-size: 37px;
      letter-spacing: 2.22px;
      margin-left: 70px;
    }

    @include for-size(laptop) {
      font-size: 55px;
      letter-spacing: 3.338px;
      margin-left: 90px;
    }

    @include for-size(desktop) {
      font-size: 64px;
      letter-spacing: 3.84px;
    }
  }
}
