@import "./../../styles/colors";
@import "./../../styles/mixin";
@import "./../../styles/container";

.projects {
  margin-top: 42px;
  margin-bottom: 30px;

  @include for-size(tablet) {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  @include for-size(laptop) {
    margin-top: 100px;
    margin-bottom: 140px;
  }

  @include for-size(desktop) {
    margin-top: 150px;
    margin-bottom: 165px;
  }

  &__cards_desktop {
    display: none;
    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      gap: 45px;
    }
  }

  &__cards_mobile {
    display: flex;
    flex-direction: column;
    gap: 45px;
    @include for-size(tablet) {
      display: none;
    }
  }
}
