@import "../styles/mixin";
@import "../styles/colors";

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;

  @include for-size(tablet) {
    margin-top: -39px;
  }

  @include for-size(laptop) {
    margin-top: -25px;
  }

  &__text {
    max-width: 266px;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.49%;
    letter-spacing: 0.48px;
    margin-top: 6px;

    @include for-size(tablet) {
      max-width: none;
      width: 258px;
      text-align: right;
      font-size: 10px;
      letter-spacing: 0.42px;
      margin-top: 40px;
    }

    @include for-size(laptop) {
      width: 380px;
      text-align: right;
      font-size: 15px;
      letter-spacing: 0.611px;
    }

    @include for-size(desktop) {
      width: 514px;
      text-align: right;
      font-size: 20px;
      letter-spacing: 0.8px;
      margin-top: 52px;
    }
  }
}

.our_form {
  @include for-size(tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}