@import "../../styles/mixin";

.forgot_password {
    margin-top: 80px;
    margin-bottom: 89px;
  
    @include for-size(tablet) {
      margin-top: 160px;
      margin-bottom: 195px;
    }
  
    @include for-size(laptop) {
      margin-top: 180px;
      margin-bottom: 176px;
    }
  
    @include for-size(desktop) {
      margin-top: 230px;
      margin-bottom: 186px;
    }
}