@import "../../../styles/mixin";

.lineChart__сontainer {
  width: 296px;
  height: 114px;
  align-self: center;
  .lineChart {
    width: inherit;
    height: inherit;
  }
  @include for-size(tablet) {
    width: 639px;
    height: 245px;
  }
  @include for-size(laptop) {
    width: 602px;
    height: 180px;
  }
  @include for-size(desktop) {
    width: 798px;
    height: 239px;
  }
}
