@import "../../../styles/mixin";

.title {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  @include for-size(tablet) {
    font-size: 25px;
    line-height: 0.9;
  }
  @include for-size(laptop) {
    line-height: 1.16;
    font-size: 30px;
  }
  @include for-size(desktop) {
  }
}
