@import "./../../../styles/container";
@import "../../../styles/mixin";

.title {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 64px;
  margin-top: 10px;
  @include for-size(tablet) {
    font-size: 25px;
    line-height: 0.9;
    margin-bottom: 93px;
    margin-top: 0;
  }
  @include for-size(laptop) {
    margin-bottom: 90px;
    line-height: 1.16;
    font-size: 30px;
  }
  @include for-size(desktop) {
    margin-bottom: 74px;
  }
}
