@import "../styles/colors";
@import "../styles/container";
@import "../styles/mixin";

.privacy {
  &__date {
    margin-bottom: 40px;

    @include for-size(tablet) {
      margin-bottom: 50px;
    }
    @include for-size(laptop) {
      margin-bottom: 60px;
    }
    @include for-size(desktop) {
      margin-bottom: 80px;
    }
  }

  &__item {
    list-style: disc;
  }

  &__list {
    display: grid;
    gap: 4px;
    margin-bottom: 40px;

    @include for-size(tablet) {
      margin-bottom: 60px;
    }
    @include for-size(laptop) {
      gap: 6px;
      margin-bottom: 70px;
    }
    @include for-size(desktop) {
      margin-bottom: 80px;
    }

    &___tab {
      margin-left: 20px;

      @include for-size(tablet) {
        margin-left: 28px;
      }
      @include for-size(desktop) {
        margin-left: 40px;
      }
    }
  }

  &__text {
    margin-bottom: 30px;

    @include for-size(tablet) {
      margin-bottom: 40px;
    }
    @include for-size(laptop) {
      margin-bottom: 50px;
    }
    @include for-size(desktop) {
      margin-bottom: 60px;
    }
  }

  &__bold {
    font-weight: 500;
  }

  &__primary {
    margin-bottom: 20px;

    @include for-size(tablet) {
      margin-bottom: 26px;
    }
    @include for-size(laptop) {
      margin-bottom: 34px;
    }
    @include for-size(desktop) {
      margin-bottom: 40px;
    }
  }

  &__secondary {
    color: $hero-heading-color;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;

    @include for-size(tablet) {
      font-size: 22px;
      letter-spacing: 1.2px;
      margin-bottom: 30px;
    }
    @include for-size(laptop) {
      font-size: 24px;
      letter-spacing: 1.4px;
      margin-bottom: 40px;
    }
    @include for-size(desktop) {
      font-size: 26px;
      letter-spacing: 1.6px;
    }
  }
}

.item__custom,
.link__color {
  color: $hero-heading-blue-color;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $heading-blue-color;
  }
}
