@import "../styles/colors";
@import "../styles/container";
@import "../styles/mixin";

.privacy {
  &__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: black;
    margin-bottom: 14px;
    @include for-size(tablet) {
    }
    @include for-size(laptop) {
    }
    @include for-size(desktop) {
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: black;
    margin-bottom: 14px;
  }

  &___bold {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: black;
  }

  &__list {
    margin-left: 21px;
    font-size: 14px;
    padding-bottom: 31px;
    list-style-position: inside;
  }
  &__item {
    //  list-style: initial;

    &___num {
      list-style: decimal;
    }
  }
}
