@import url("https://fonts.googleapis.com/css2?family=Besley&family=Open+Sans&family=Roboto:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

i,
em {
  font-style: italic;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:focus {
  outline: none;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

/* Page components stylings*/

.button-blue {
  @apply 
  uppercase 
  bg-button-blue-gradient 
  desktop:rounded-2xl 
  tablet:rounded-lg 
  rounded-md  
  desktop:text-base 
  tablet:text-xs 
  text-7 

  desktop:px-12 
  desktop:py-5 
  tablet:px-6 
  tablet:py-2.5  
  py-2.5 
  px-5 

  shadow-button-blue;
}

.button-white {
  @apply 
  uppercase 
  bg-buttonWhite 
  desktop:rounded-2xl 
  tablet:rounded-lg 
  rounded-md  
  desktop:text-base 
  tablet:text-xs 
  text-7 

  desktop:px-12 
  desktop:py-5 
  tablet:px-6 
  tablet:py-2.5
  px-5 
  py-2.5 

  shadow-button-white;
}

.button-login {
  @apply 
  bg-button-blue-gradient 
  desktop:rounded-2xl 
  tablet:rounded-lg 
  rounded-md 
  desktop:text-base 
  tablet:text-xs 
  text-7

  desktop:px-7 
  desktop:py-2.5 
  tablet:px-3
  tablet:py-1.5
  px-3 
  py-1.5;
}

.cookies {
  @apply 
  bg-cookies-gradient 
  desktop:py-10 
  desktop:pr-24 
  desktop:pl-14 
  tablet:py-5 
  tablet:pr-10 
  tablet:pl-6 
  py-4 
  pr-3 
  pl-3 
  desktop:text-2xl
  tablet:text-xs 
  text-10
  desktop:rounded-2xl 
  tablet:rounded-lg
  rounded-md 
  flex 
  desktop:items-end 
  tablet:items-center
  desktop:gap-20 
  tablet:gap-10
  gap-1;
}

.hero-title {
  @apply text-xl desktop:text-5xl tablet:text-2xl font-semibold text-heroTitle tracking-wide;
}

.hero-title-blue {
  @apply text-xl desktop:text-5xl tablet:text-2xl font-semibold text-heroTitleBlue tracking-wide;
}

.hero-subtitle {
  @apply text-7 desktop:text-lg tablet:text-10 font-roboto leading-3;
}

.heading {
  @apply text-2xl desktop:text-6xl tablet:text-4xl text-headingBlue tracking-wide;
}

.technology-cards-container{
  @apply flex flexCenter flex-wrap gap-5 tablet:gap-11 desktop:gap-10
}

.technology-card{
  @apply bg-technology-card-gradient rounded-md shadow-technology-card w-120 h-115 desktop:h-80 desktop:w-307 tablet:h-52 tablet:w-56;
}
    