@import "../styles/mixin";

.page {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-grow: 1;
  margin-top: 68px;

  @include for-size(tablet) {
    gap: 80px;
  }
  @include for-size(laptop) {
    margin-top: 80px;
    gap: 120px;
  }
  @include for-size(desktop) {
    margin-top: 90px;
    gap: 160px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
