@import "../styles/mixin";

.page{
    margin-top: 90px;
    @include for-size(tablet){
        margin-top: 120px;
    }@include for-size(laptop){
        margin-top: 140px;
    }@include for-size(desktop){
        margin-top: 150px;
    }
}