@import "../styles/mixin";
@import "../styles/container";
@import "../styles/colors";

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  min-height: 300px;
  margin: 40px 0;

  @include for-size(tablet) {
    margin: 60px 0;
  }
  @include for-size(laptop) {
    margin: 80px 0;
  }
  @include for-size(desktop) {
    margin: 100px 0;
  }

  &__paragraph {
    font-size: 30px;
    color: #737373;
    font-weight: 700;
  }

  &__link {
    color: $hero-heading-blue-color;
    font-size: 20px;
    font-weight: 700;
  }

  &__image {
    width: 200px;
  }
}
