@import "./../styles/mixin";

.main__contactUs {
  margin-bottom: 105px;

  @include for-size(tablet) {
    margin-bottom: 155px;
  }
  @include for-size(laptop) {
    margin-bottom: 240px;
  }
  @include for-size(desktop) {
    margin-bottom: 300px;
  }
}
