@import "../styles/colors";
@import "../styles/container";
@import "../styles/mixin";

.footer {
  padding: 60px 20px;

  @include for-size(phone) {
    padding: 40px 0;
    background: linear-gradient(
      90deg,
      rgba(175, 218, 237, 0.14) 0%,
      rgba(190, 244, 205, 0.34) 20%,
      rgba(243, 182, 241, 0.1) 100%
    );
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.15);
  }

  @include for-size(tablet) {
    padding: 40px 20px;
  }
  @include for-size(laptop) {
    padding: 40px;
  }
  @include for-size(desktop) {
    padding: 60px;
  }

  &__container {
    display: grid;
    gap: 28px;
  }

  &__box {
    display: grid;
    gap: 40px;

    @include for-size(tablet) {
      display: flex;
      gap: 100px;
    }
    @include for-size(laptop) {
      gap: 200px;
    }
    @include for-size(desktop) {
      gap: 300px;
    }
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    @include for-size(tablet) {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      height: 139px;
    }
    @include for-size(laptop) {
      height: 205px;
    }
    @include for-size(desktop) {
      height: 264px;
    }
  }

  &__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    @include for-size(tablet) {
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__logo {
    max-width: 94px;
    height: 19px;

    @include for-size(tablet) {
      max-width: 63px;
      height: 13px;
    }
    @include for-size(laptop) {
      max-width: 92px;
      height: 18px;
    }
    @include for-size(desktop) {
      max-width: 119px;
      height: 24px;
    }
  }

  &__copyright {
    text-align: center;

    @include for-size(tablet) {
      text-align: left;
      max-width: 180px;
    }

    @include for-size(laptop) {
      max-width: 214px;
    }

    @include for-size(desktop) {
      max-width: 270px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;

    @include for-size(tablet) {
      gap: 0;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__routs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    @include for-size(tablet) {
      align-items: flex-start;
      gap: 4px;
    }
    @include for-size(laptop) {
      gap: 6px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    @include for-size(tablet) {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    @include for-size(tablet) {
      align-items: flex-end;
      gap: 16px;
    }
    @include for-size(laptop) {
      gap: 24px;
    }
    @include for-size(desktop) {
      gap: 30px;
    }
  }

  &__btn {
    &_text {
      font-size: 12px !important;

      @include for-size(laptop) {
        font-size: 16px !important;
      }
      @include for-size(desktop) {
        font-size: 20px !important;
      }
    }
  }

  &__icon {
    width: 22px;
    height: 22px;

    @include for-size(desktop) {
      width: 24px;
      height: 24px;
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    @include for-size(tablet) {
      gap: 14px;
    }
    @include for-size(laptop) {
      gap: 16px;
    }
    @include for-size(desktop) {
      gap: 18px;
    }
  }

  &__text {
    font-size: 14px;
    letter-spacing: 0.5px;

    @include for-size(tablet) {
      letter-spacing: 0.4px;
    }

    @include for-size(laptop) {
      font-size: 16px;
      letter-spacing: 0.7px;
    }

    @include for-size(desktop) {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  &__hover {
    display: flex;
    align-items: center;
    color: $blog-card-text-color;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: $heading-blue-color;
    }
  }
}

.blur {
  pointer-events: none;
  height: 5px;

  &_item {
    position: relative;
    pointer-events: none;
    margin: 0 auto;

    @include for-size(tablet) {
      background-image: url(../images/blur/footer_blurT.png);
      background-repeat: no-repeat;
      bottom: 50px;
      width: 712px;
      height: 203px;
    }

    @include for-size(laptop) {
      background-image: url(../images/blur/footer_blurL.png);
      bottom: 50px;
      width: 1045px;
      height: 298px;
    }

    @include for-size(desktop) {
      background-image: url(../images/blur/footer_blurD.png);
      width: 1349px;
      height: 385px;
    }
  }
}
