@import "../styles/mixin";
@import "../styles/colors";

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;

  @include for-size(tablet) {
    margin-top: -39px;
  }

  @include for-size(laptop) {
    margin-top: -25px;
  }

  &__text {
    max-width: 266px;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.48px;
    margin-top: 6px;

    @include for-size(tablet) {
      max-width: none;
      width: 258px;
      text-align: right;
      font-size: 10px;
      letter-spacing: 0.42px;
      margin-top: 40px;
    }

    @include for-size(laptop) {
      width: 380px;
      font-size: 15px;
      letter-spacing: 0.6px;
    }

    @include for-size(desktop) {
      width: 514px;
      font-size: 20px;
      letter-spacing: 0.8px;
      margin-top: 52px;
    }
  }
}

.our_form {
  @include for-size(tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.form {
  height: 100%;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 29px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: $contact-us-form-background;
  box-shadow: 12px 6px 12px 0px rgba(0, 0, 0, 0.15);

  @include for-size(tablet) {
    max-width: none;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
    padding: 28px 80px;
  }

  @include for-size(laptop) {
    border-radius: 11px;
    padding: 40px 117px;
  }

  @include for-size(desktop) {
    border-radius: 15px;
    padding: 54px 154px 54px 152px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 80%;

    @include for-size(tablet) {
      width: 100%;
    }

    @include for-size(desktop) {
      gap: 23px;
    }
  }

  &__field {
    &:nth-child(2) {
      padding-left: 42px;
    }

    padding: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    color: #858585;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 154%;
    letter-spacing: 0.19px;
    padding-bottom: 10px;

    @include for-size(tablet) {
      width: 195px;
      font-size: 12px;
      letter-spacing: 0.25px;
    }

    @include for-size(laptop) {
      width: 284px;
      font-size: 12px;
      letter-spacing: 0.36px;
    }

    @include for-size(desktop) {
      width: 372px;
      font-size: 16px;
      letter-spacing: 0.48px;
    }

    &:focus {
      outline: none;
    }
  }

  &__area {
    width: 100%;
    padding: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    color: #858585;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 154%;
    letter-spacing: 0.19px;
    padding-bottom: 3px;
    resize: none;
    max-height: 400px;

    @include for-size(tablet) {
      width: 195px;
      font-size: 12px;
      letter-spacing: 0.25px;
    }

    @include for-size(laptop) {
      width: 284px;
      font-size: 12px;
      letter-spacing: 0.36px;
    }

    @include for-size(desktop) {

      width: 372px;
      font-size: 16px;
      letter-spacing: 0.48px;
    }

    &:focus {
      outline: none;
    }
  }
  &__input {
    position: relative;

    label {
      position: absolute;
      pointer-events: none;
      top: 2px;
      left: 0;
      color: #858585;
      font-family: Open Sans;
      font-size: 12px;
      line-height: 154.5%;
      letter-spacing: 0.19px;

      @include for-size(tablet) {
        top: 1px;
        color: #858585;
        font-size: 12px;
        letter-spacing: 0.38px;
      }

      @include for-size(laptop) {
        top: 5px;
        font-size: 14px;
        letter-spacing: 0.36px;
      }

      @include for-size(desktop) {
        top: 10px;
        font-size: 16px;
        letter-spacing: 0.48px;
      }
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      display: none;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 39px;

    @include for-size(tablet) {
      letter-spacing: 1.42px;
      margin-bottom: 40px;
    }

    @include for-size(laptop) {
      font-size: 23px;
      letter-spacing: 2.1px;
      margin-bottom: 59px;
    }

    @include for-size(desktop) {
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 2.7px;
      margin-bottom: 77px;
    }
  }

  &__line {
    display: block;
    height: 1px;
    background-color: black;
    width: 80%;
    margin-bottom: 9px;

    @include for-size(tablet) {
      width: 195px;
      margin-bottom: 12px;
    }

    @include for-size(laptop) {
      width: 284px;
      margin-bottom: 17px;
    }

    @include for-size(desktop) {
      width: 374px;
      margin-bottom: 23px;
    }
  }

  &__button {
    border-radius: 7px;
    background: linear-gradient(
      180deg,
      #308bb7 0%,
      rgba(48, 139, 183, 0.57) 100%
    );
    border: none;
    color: #fff;
    padding: 9px 17px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.39px;
    margin-top: 17px;
    margin-bottom: 16px;

    @include for-size(tablet) {
      border-radius: 7px;
      padding: 10px 18px;
      font-size: 10px;
      letter-spacing: 0.42px;
      margin-bottom: 21px;
      margin-top: 21px;
    }

    @include for-size(laptop) {
      border-radius: 12px;
      padding: 15px 27px;
      font-size: 15px;
      letter-spacing: 0.6px;
      margin-bottom: 31px;
      margin-top: 31px;
    }

    @include for-size(desktop) {
      border-radius: 15px;
      padding: 19px 35px;
      margin-bottom: 41px;
      font-size: 20px;
      letter-spacing: 0.8px;
      margin-top: 41px;
    }

    &:hover {
      background-color: #005fcc;
    }
  }

  &__text {
    color: var(--unnamed, #898989);
    text-align: center;
    font-family: Open Sans;
    max-width: 210px;
    font-size: 11px;
    line-height: 140%;
    letter-spacing: 0.155px;

    @include for-size(tablet) {
      width: 160px;
      flex-shrink: 0;
      font-size: 7px;
      letter-spacing: 0.2px;
    }

    @include for-size(laptop) {
      width: 243px;
      font-size: 10px;
      letter-spacing: 0.3px;
    }

    @include for-size(desktop) {
      max-width: none;
      width: 324px;
      font-size: 13px;
      letter-spacing: 0.39px;
    }

    .pr {
      background: var(--cta, linear-gradient(180deg, #2a95f8 0%, #167bd9 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-family: Open Sans;
      font-size: 11px;
      line-height: 140%;
      letter-spacing: 0.155px;

      @include for-size(tablet) {
        font-size: 7px;
        letter-spacing: 0.2px;
      }

      @include for-size(laptop) {
        font-size: 10px;
        letter-spacing: 0.3px;
      }

      @include for-size(desktop) {
        font-size: 13px;
        letter-spacing: 0.39px;
      }
    }
  }
}
.error {
  font-size: 10px;
  color: red;
}

.container-input {
  min-width: 100%;
  background-color: transparent;
}

.search {
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.buttonC {
  width: 0 !important;
  padding: 0 !important;
  padding-right: 0;
  border: none !important;
  bottom: 12px !important;
  background-color: transparent !important;
}

.disabledButton {
  &:hover {
    background: linear-gradient(
      180deg,
      rgba(125, 166, 185, 0.44) 22.4%,
      rgba(48, 139, 183, 0.57) 100%
    );
  }

  background: linear-gradient(
    180deg,
    rgba(125, 166, 185, 0.44) 22.4%,
    rgba(48, 139, 183, 0.57) 100%
  );
  cursor: not-allowed;
}

.invalidField {
  border-bottom: 1px solid red;
}

.drop {
  font-size: 12px;
  width: 220px !important;

  @include for-size(tablet) {
    width: 300px !important;
  }

  @include for-size(laptop) {
    font-size: 14px;
  }

  @include for-size(desktop) {
    font-size: 16px;
  }
}
