@import "../styles/colors";
@import "../styles/container";
@import "../styles/mixin";

.header__item:hover > .header__sub_menu {
  display: block;
  position: absolute;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;

  &__logo {
    width: 74px;
    height: 15px;

    @include for-size(tablet) {
      width: 62px;
      height: 12px;
    }
    @include for-size(laptop) {
      width: 92px;
      height: 19px;
    }
    @include for-size(desktop) {
      width: 119px;
      height: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 23px;
  }

  &__sub_menu {
    @include for-size(tablet) {
      position: absolute;
      display: none;
    }
    @include for-size(laptop) {
    }
    @include for-size(desktop) {
    }

    &__mobile_menu {
      position: fixed;
    }
  }

  &__navigation {
    display: none;

    @include for-size(tablet) {
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
    @include for-size(laptop) {
      gap: 42px;
      
    }
    @include for-size(desktop) {
      gap: 53px;
    }
  }
  &__link {
    font-size: 20px;
    font-family: "Roboto";
    letter-spacing: 0.4px;
    color: black;
    line-height: 26px;
    position: relative;

    @include for-size(tablet) {
      font-size: 12px;
    }
    @include for-size(laptop) {
      font-size: 15px;
    }
    @include for-size(desktop) {
      font-size: 20px;
    }
    transition: box-shadow 0.3s ease;
    &:hover {
      color: (rgb(48, 139, 183));
    }
  }

  &__btn_burger {
    background-color: transparent;
    margin-left: auto;
    border: none;
    color: $burger-menu-color;
    padding: 0;
    height: 25px;
    @include for-size(tablet) {
      display: none;
    }
  }

  &__burger {
    font-size: 25px;
  }
  &__close_icon {
    &:hover {
      color: (rgb(48, 139, 183));
    }
  }

  &__btn_login {
    background: $button-blue-background;
    color: black;
    padding: 5.5px 13px;
    border-radius: 6px;
    border: none;
    margin-left: 21px;
    display: none;
    @include for-size(tablet) {
      display: block;
      padding: 5.5px 13px;
      border-radius: 8px;
      margin-left: 0px;
    }
    @include for-size(laptop) {
      display: block;
      padding: 8px 19px;
      border-radius: 12px;
    }
    @include for-size(desktop) {
      display: block;
      padding: 11px 25px;
      border-radius: 15px;
    }
  }
  &__btn_text {
    font-size: 22px;
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 0.4px;
    color: black;
    line-height: 7px;
    line-height: 26px;
    @include for-size(tablet) {
      font-weight: 400;
      font-size: 12px;
    }

    @include for-size(laptop) {
      font-size: 15px;
    }
    @include for-size(desktop) {
      font-size: 20px;
    }
  }
  &__line {
    border: none;
    background-color: #83addf;
    height: 1px;
    margin: 10px 0 0 0;
    @include for-size(tablet) {
      display: none;
    }
  }
}

.header_modal {
  position: fixed;
  top: 60px;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
  }

  &__link {
    font-size: 22px;
    font-family: "Roboto";
    letter-spacing: 0.4px;
    color: black;
    line-height: 26px;
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    &:hover {
      color: rgb(48, 139, 183);
    }
  }

  &__btn_login {
    background: $button-blue-background;
    color: black;
    padding: 5.5px 13px;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
  }

  &__btn_text {
    font-size: 22px;
    font-family: "Roboto";
    letter-spacing: 0.4px;
    color: black;
    line-height: 7px;
    align-items: center;
  }

  &__icon {
    opacity: 0.3;
  }

  &__sub_menu {
    display: none;
    padding: 10px;
    z-index: 1;
    gap: 12px;
  }

  &__modal_open {
    overflow: hidden;
  }
}

.header_modal__item:hover > .header_modal__sub_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  width: 17px;
  height: 16px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  &__span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $burger-menu-color;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  &__span:nth-child(1) {
    top: 0px;
  }
  &__span:nth-child(2),
  &__span:nth-child(3) {
    top: 6px;
  }
  &__span:nth-child(4) {
    top: 12px;
  }
  &.open &__span:nth-child(1) {
    top: 12px;
    width: 0;
    left: 50%;
  }
  &.open &__span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
  }
  &.open &__span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
  }
  &.open &__span:nth-child(4) {
    top: 6px;
    width: 0;
    left: 50%;
  }
}
