@import "./../styles/colors";
@import "./../styles/mixin";

.heading {
  color: $heading-blue-color;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 130%;

  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1.5px solid $heading-blue-color;

  @include for-size(tablet) {
    font-size: 34px;
    letter-spacing: 2.6px;
    font-weight: 400;
    padding-right: 14px;
    padding-left: 14px;
    border-bottom: 2px solid $heading-blue-color;
  }
  @include for-size(laptop) {
    font-size: 48px;
    letter-spacing: 2.7px;
    padding-right: 16px;
    padding-left: 16px;
  }
  @include for-size(desktop) {
    font-size: 64px;
    letter-spacing: 4px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 3px solid $heading-blue-color;
  }

  &__container {
    text-align: center;
    margin-bottom: 20px;

    @include for-size(tablet) {
      margin-bottom: 40px;
    }
    @include for-size(laptop) {
      margin-bottom: 50px;
    }
    @include for-size(desktop) {
      margin-bottom: 60px;
    }
  }
}
