@import "@/styles/colors";
@import "@/styles/container";
@import "@/styles/mixin";

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.custom_breadcrumbs {
  margin-top: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.3px;

  @include for-size(tablet) {
    letter-spacing: 0.5px;
    margin-top: 60px;
  }
  @include for-size(laptop) {
    font-size: 14px;
    margin-top: 80px;
  }

  &__home {
    height: 16px;
    width: 16px;

    @include for-size(laptop) {
      width: 20px;
      height: 20px;
    }
  }

  &__link {
    transition: color 0.3s ease-in-out;
    color: $navigation-dark;
    text-decoration: none;
    font-size: 12px;

    @include for-size(tablet) {
      font-size: 12px;
    }
    @include for-size(laptop) {
      font-size: 14px;
    }
    @include for-size(laptop) {
      font-size: 16px;
    }

    &:hover {
      color: $navigation-light;
    }
  }

  &__active {
    color: $navigation-light;
  }

  &__separator {
    color: $navigation-dark;
    margin: 0 4px;
    font-weight: normal;

    @include for-size(tablet) {
      margin: 0 8px;
    }
  }
}
