@import "@/styles/colors";
@import "@/styles/container";
@import "@/styles/mixin";

.container {
  width: 100%;
}

.custom_breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.26px;

  @include for-size(tablet) {
    letter-spacing: 0.52px;
    margin-top: 40px;
  }

  @include for-size(laptop) {
    font-size: 13px;
    margin-top: 60px;
  }

  &__home {
    height: 15px;
    width: 15px;

    @include for-size(laptop) {
      width: 20px;
      height: 20px;
    }
  }

  &__link {
    color: $navigation-dark;
    text-decoration: none;

    &:hover {
      color: $navigation-light;
    }
  }

  &__active {
    color: $navigation-light;
  }

  &__separator {
    color: $navigation-dark;
    margin: 0 4px;
    font-weight: normal;

    @include for-size(tablet) {
      margin: 0 8px;
    }
  }
}
