@import "./../styles/colors";
@import "./../styles/mixin";

.button {
  padding: 8px 20px;
  border-radius: 8px;
  letter-spacing: 0.2px;
  line-height: 150%;
  border: none;

  @include for-size(tablet) {
    padding: 9px 24px;
  }
  @include for-size(laptop) {
    padding: 15px 32px;
    border-radius: 12px;
  }
  @include for-size(desktop) {
    padding: 19px 40px;
    font-size: 16px;
    border-radius: 15px;
  }

  &__text {
    font-size: 14px;

    @include for-size(laptop) {
      font-size: 16px;
    }
    @include for-size(desktop) {
      font-size: 20px;
    }
  }

  &.blueButton {
    background: $button-blue-background;
    color: black;
    box-shadow: $button-white-shadow;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: $button-blue-shadow;
    }
    &:disabled {
      background: $button-blue-disabled;
      cursor: not-allowed;
    }
  }

  &.whiteButton {
    background: $button-white-background;
    color: black;
    box-shadow: $button-white-shadow;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #afdaed;
    }
  }

  &.darkBlueButton {
    background: $button-dark-blue-background;
    color: white;
  }
}
