@import "./../styles/colors";
@import "./../styles/mixin";

.button {
  padding: 8px 20px;
  border-radius: 24px;
  border: none;
  border: 1px solid $background-blue-default;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;

  @include for-size(tablet) {
    padding: 10px 24px;
    border-radius: 26px;
  }
  @include for-size(laptop) {
    padding: 16px 32px;
    border-radius: 28px;
  }
  @include for-size(desktop) {
    padding: 20px 44px;
    font-size: 32px;
    border-radius: 38px;
  }

  &__text {
    font-size: 14px;

    @include for-size(laptop) {
      font-size: 16px;
    }
    @include for-size(desktop) {
      font-size: 20px;
    }
  }

  &.blueButton {
    background: $button-blue-background;
    color: $black-default;
    box-shadow: $button-white-shadow;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: $button-blue-shadow;
    }
    &:disabled {
      background: $button-blue-disabled;
      cursor: not-allowed;
    }
  }

  &.whiteButton {
    background: $button-white-background;
    color: $black-default;
    box-shadow: $button-white-shadow;

    &:hover {
      background: $background-blue-default;
      border-color: $background-blue-default;
    }
  }

  &.darkBlueButton {
    background: $button-dark-blue-background;
    color: $white-default;
  }
}
