@import "./../styles/colors";
@import "./../styles/mixin";

.button {
  padding: 8.5px 18px;
  border-radius: 7px;
  border: none;
  font-size: 8px;
  font-family: "Open Sans";
  letter-spacing: 0.24px;
  line-height: 151.682%;

  @include for-size(tablet) {
    padding: 9px 23.5px;
    border-radius: 7px;
  }

  @include for-size(laptop) {
    font-size: 15px;
    padding: 19px 49px;
    border-radius: 12px;
  }

  @include for-size(desktop) {
    font-size: 15px;
    padding: 19px 49px;
    border-radius: 15px;
  }

  &.blueButton {
    background: $button-blue-background;
    box-shadow: $button-blue-shadow;
    color: black;
  }

  &.whiteButton {
    background: $button-white-background;
    box-shadow: $button-white-shadow;
    color: black;
  }

  &.darkBlueButton {
    background: $button-dark-blue-background;
    color: white;
  }
}
