@import "../../../styles/mixin";
@import "../../../styles/container";

.blogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  text-overflow: ellipsis;

  &__mobileSlider {
    display: block;
    overflow-x: hidden;
    padding-top: 4%;
    @include for-size(tablet) {
      display: none;
    }
  }
  &__desktopSlider {
    display: none;
    @include for-size(tablet) {
      display: block;
    }
  }
}

.blog {
  &__heading {
    @include for-size(mobile) {
      margin-bottom: 50px;
    }
  }
}

.blur {
  position: absolute;
  pointer-events: none;
  
  &_item {
    position: relative;
    pointer-events: none;

    @include for-size(tablet) {
      background-image: url(../../../images/blur/blog_blurT.png);
      background-repeat: no-repeat;
      bottom: 60px;
      width: 345px;
      height: 310px;
    }

    @include for-size(laptop) {
      background-image: url(../../../images/blur/blog_blurL.png);
      bottom: 120px;
      width: 1108px;
      height: 597px;
    }

    @include for-size(desktop) {
      background-image: url(../../../images/blur/blog_blurD.png);
      bottom: 100px;
      width: 1440px;
      height: 776px;
    }
  }
}
