@import "/styles/colors";
@import "/styles/container";
@import "/styles/mixin";

.hero {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: -webkit-fill-available;

  @include for-size(tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  &__logo {
    display: none;
    @include for-size(tablet) {
      display: block;
      max-width: 419px;
      margin-top: -8px;
      margin-left: -47px;
    }
    @include for-size(laptop) {
      max-width: 615px;
      margin-top: -7px;
    }
    @include for-size(desktop) {
      max-width: 790px;
      margin-top: -13px;
      margin-left: 0;
    }

    &_small {
      display: block;

      @include for-size(tablet) {
        display: none;
      }
    }
  }
  &__name {
    font-size: 22px;
    max-width: 310px;
    margin-bottom: 15px;

    @include for-size(tablet) {
      font-size: 24px;
      max-width: 321px;

      margin-bottom: 13px;
    }
    @include for-size(laptop) {
      font-size: 35px;
      max-width: 530px;
      margin-bottom: 25px;
    }
    @include for-size(desktop) {
      font-size: 45px;
      max-width: 613px;
      margin-bottom: 30px;
    }
    &_comp {
      color: $hero-heading-blue-color;
    }
  }

  &__wrapper_inf {
    @include for-size(tablet) {
      margin-bottom: 71px;
    }
    @include for-size(laptop) {
      margin-bottom: 104px;
    }
    @include for-size(desktop) {
      margin-bottom: 123px;
    }
  }
  &__wrapper_btn_mob {
    display: flex;
    justify-content: center;

    gap: 36px;
    margin-top: 41px;
    @include for-size(tablet) {
      display: none;
    }
  }
  &__wrapper_btn {
    display: none;
    @include for-size(tablet) {
      display: flex;
      gap: 39px;
    }
    @include for-size(laptop) {
      gap: 58px;
    }
    @include for-size(desktop) {
      gap: 75px;
    }
  }
  &__description {
    font-size: 12px;
    letter-spacing: 0.3px;
    max-width: 279px;
    @include for-size(tablet) {
      max-width: 287px;
      font-size: 9px;
      letter-spacing: 0.4px;
    }
    @include for-size(laptop) {
      max-width: 440px;
      font-size: 14px;
      letter-spacing: 0.7px;
    }
    @include for-size(desktop) {
      max-width: 549px;
      font-size: 18px;
    }
  }
  &__wrapper_second {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
