@import "/styles/colors";
@import "/styles/container";
@import "/styles/mixin";

.hero {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include for-size(tablet) {
    justify-content: space-between;
    flex-direction: row;
    gap: 37px;
  }
  @include for-size(laptop) {
    padding-bottom: 0px;
    gap: 0px;
  }
  &__logo {
    display: none;

    &_small {
      display: block;

      @include for-size(tablet) {
        display: none;
      }
    }

    @include for-size(tablet) {
      display: block;
      max-width: 380px;
    }
    @include for-size(laptop) {
      max-width: 700px;
    }
    @include for-size(desktop) {
      max-width: 800px;
    }
  }
  &__name {
    font-size: 22px;
    font-weight: 600;
    color: $hero-heading-color;
    max-width: 310px;
    margin-bottom: 15px;

    @include for-size(tablet) {
      font-size: 24px;
      max-width: 321px;
      margin-bottom: 15px;
    }
    @include for-size(laptop) {
      font-size: 35px;
      max-width: 530px;
      margin-bottom: 25px;
    }
    @include for-size(desktop) {
      font-size: 45px;
      max-width: 613px;
      margin-bottom: 35px;
    }
  }
  &__name_comp {
    color: $hero-heading-blue-color;
  }
  &__wrapper_inf {
    margin-bottom: 0;
    @include for-size(tablet) {
      margin-bottom: 54px;
    }
    @include for-size(laptop) {
      margin-bottom: 104px;
    }
    @include for-size(desktop) {
      margin-bottom: 104px;
    }
  }
  &__warpper_btn_mob {
    display: flex;
    gap: 36px;
    justify-content: center;
    margin-top: 41px;
    @include for-size(tablet) {
      gap: 39px;
      display: none;
    }
    @include for-size(laptop) {
      gap: 75px;
    }
  }
  &__warpper_btn {
    display: none;
    gap: 36px;
    @include for-size(tablet) {
      display: flex;
      gap: 39px;
    }
    @include for-size(laptop) {
      gap: 58px;
    }
    @include for-size(desktop) {
      gap: 75px;
    }
  }
  &__description {
    color: $button-dark-blue-background;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.279px;
    max-width: 279px;
    @include for-size(tablet) {
      max-width: 287px;
      font-size: 9px;
      letter-spacing: 0.377px;
    }
    @include for-size(laptop) {
      max-width: 440px;
      font-size: 14px;
      letter-spacing: 0.72px;
    }
    @include for-size(desktop) {
      max-width: 549px;
      font-size: 18px;
    }
  }
  &__wrapper_second {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
