@import "/styles/colors";
@import "/styles/container";
@import "/styles/mixin";

.hero {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: -webkit-fill-available;
  margin-top: 20px;

  @include for-size(tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-top: 100px;
  }
  @include for-size(laptop) {
    margin-top: 120px;
  }
  @include for-size(desktop) {
    margin-top: 150px;
  }

  &__logo {
    display: none;

    @include for-size(tablet) {
      display: block;
      max-width: 419px;
      margin-top: -8px;
      margin-left: -47px;
    }
    @include for-size(laptop) {
      max-width: 615px;
      margin-top: -7px;
    }
    @include for-size(desktop) {
      max-width: 790px;
      margin-top: -13px;
      margin-left: 0;
    }

    &_small {
      display: block;

      @include for-size(tablet) {
        display: none;
      }
    }
    animation: floatingAnimation 3s infinite ease-in-out;
  }
  @keyframes floatingAnimation {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  &__name {
    font-size: 26px;
    max-width: 380px;
    margin-bottom: 15px;

    @include for-size(tablet) {
      max-width: 350px;
      margin-bottom: 14px;
    }
    @include for-size(laptop) {
      font-size: 35px;
      max-width: 530px;
      margin-bottom: 25px;
    }
    @include for-size(desktop) {
      font-size: 45px;
      max-width: 615px;
      margin-bottom: 30px;
    }

    &_comp {
      background: linear-gradient(45deg, #07bcf8, #04aee7, #003e85);
      background-size: 200% 200%;
      background-clip: text;
      color: transparent;
      animation: gradientAnimation 2s linear infinite;
    }
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &__wrapper_inf {
    @include for-size(tablet) {
      margin-bottom: 71px;
    }
    @include for-size(laptop) {
      margin-bottom: 104px;
    }
    @include for-size(desktop) {
      margin-bottom: 123px;
    }
  }
  &__wrapper_btn_mob {
    display: flex;
    justify-content: center;

    gap: 36px;
    margin-top: 41px;
    @include for-size(tablet) {
      display: none;
    }
  }
  &__wrapper_btn {
    display: none;

    @include for-size(tablet) {
      display: flex;
      gap: 39px;
    }
    @include for-size(laptop) {
      gap: 58px;
    }
    @include for-size(desktop) {
      gap: 75px;
    }
  }

  &__description {
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.6px;
    max-width: 350px;

    @include for-size(tablet) {
      max-width: 350px;
      letter-spacing: 0.4px;
    }
    @include for-size(laptop) {
      max-width: 440px;
      font-size: 16px;
      letter-spacing: 0.6px;
    }
    @include for-size(desktop) {
      max-width: 549px;
      font-size: 18px;
      letter-spacing: 0.7px;
    }
  }

  &__wrapper_second {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.our_form {
  width: calc(100% - 40px);

  @include for-size(tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.blur {
  position: absolute;

  &_item {
    position: relative;
    pointer-events: none;

    @include for-size(tablet) {
      background-image: url(../../../images/blur/hero_blurT.png);
      background-repeat: no-repeat;
      right: 400px;
      bottom: 100px;
      width: 385px;
      height: 360px;
    }

    @include for-size(laptop) {
      background-image: url(../../../images/blur/hero_blurL.png);
      right: 550px;
      bottom: 130px;
      width: 496px;
      height: 463px;
    }

    @include for-size(desktop) {
      background-image: url(../../../images/blur/hero_blurD.png);
      right: 680px;
      bottom: 180px;
      width: 631px;
      height: 589px;
    }
  }
}
