@import "./../styles/colors";
@import "./../styles/mixin";
@import "./../styles/container";

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include for-size(tablet) {
    gap: 50px;
  }

  @include for-size(laptop) {
    gap: 60px;
  }

  @include for-size(desktop) {
    gap: 80px;
  }

  &__mobile_slider {
    @include for-size(tablet) {
      display: none;
    }
  }

  &__desktop_wrapper {
    @include for-size(phone) {
      display: none;
    }

    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }

    @include for-size(desktop) {
      gap: 65px;
    }
  }
}
