@import "./../styles/colors";
@import "./../styles/mixin";

.projects{
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__mobile{
        @include for-size(tablet){
            display: none;
        }
    }
}