@import "./../../../styles/colors";
@import "./../../../styles/container";
@import "./../../../styles/mixin";

.team {
  margin-bottom: 60px;
  @include for-size(tablet) {
    margin-bottom: 80px;
  }

  @include for-size(laptop) {
    margin-bottom: 100px;
  }

  @include for-size(desktop) {
    margin-bottom: 140px;
  }
  &__title {
    box-sizing: border-box;
    margin-bottom: 25px;

    @include for-size(tablet) {
      text-align: left;
      margin-bottom: 47px;
    }

    @include for-size(laptop) {
      margin-bottom: 76px;
    }

    @include for-size(desktop) {
      margin-bottom: 99px;
    }

    h1 {
      box-sizing: border-box;
      width: 100%;

      @include for-size(tablet) {
        padding-bottom: 14px;
      }

      @include for-size(laptop) {
        padding-bottom: 22px;
      }

      @include for-size(desktop) {
        padding-bottom: 28px;
      }
    }
  }

  .custom__control {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
}
.mobile__slider {
  @include for-size(tablet) {
    display: none;
  }
}

.desctop__slider {
  display: none;
  @include for-size(tablet) {
    display: initial;
  }
}

.arrow {
  @include for-size(tablet) {
    height: 26px;
    width: auto;
    margin-top: -66px;
  }

  @include for-size(laptop) {
    height: 42px;
    margin-top: -110px;
  }

  @include for-size(desktop) {
    height: 55px;
    margin-top: -140px;
  }

  &__left {
    @include for-size(tablet) {
      margin-left: -74px;
    }

    @include for-size(laptop) {
      margin-left: -92px;
    }

    @include for-size(desktop) {
      margin-left: -112px;
    }
  }

  &__right {
    @include for-size(tablet) {
      margin-right: -74px;
    }

    @include for-size(laptop) {
      margin-right: -92px;
    }

    @include for-size(desktop) {
      margin-right: -112px;
    }
  }
}
