@import "@/styles/mixin";
@import "@/styles/colors";
@import "../../modals/Modal.module.scss";


.input {
  background: rgba(175, 218, 237, 0.1);
  border: 2px solid rgba(72, 138, 167, 0.3);
  border-radius: 15px;
  box-shadow: 2.5px 3.5px 8.5px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  resize: vertical;
  box-sizing: border-box;
  padding: 10px 20px;

  &:hover,
  &:focus {
    border: 2px solid #488aa7;
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  &__title {
    width: 100%;
    margin-bottom: 51px;

    &::placeholder {
      color: #488aa775;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.7px;
    }
  }
}

.order {
  width: 555px;
  box-sizing: border-box;

  &__button {
    border: none;
    background: transparent;
    color: #488aa7;
    font-family: Roboto;
    font-size: 16px;
    line-height: 130.49%;
    letter-spacing: 0.64px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px 5px;
    border-radius: 5px;
    margin-bottom: 30px;

    &:hover {
      box-shadow: 2.5px 3.5px 8.5px 0px rgba(0, 0, 0, 0.15);
    }
  }
}

.status {
  border-radius: 15px;
  background: rgba(255, 255, 255, 1);
  padding: 28px 30px;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 28px;
  position: absolute;
  box-shadow: 3.5px 3.5px 8.5px 2px rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(72, 138, 167, 0.3);
  z-index: 10;

  &__text {
    color: #488aa7;
    font-size: 16px;
    line-height: 130.49%;
    letter-spacing: 0.64px;
  }
}

.buttons_container {
  display: flex;
  justify-content: center;
  gap: 60px;
  position: relative;
  border-top: 2px solid #afdaed;
  padding-top: 45px;
}

.order_status__container {
  position: relative;
}

.button_details {
  display: flex;
  align-items: flex-end;
}

.service {
  width: 100%;
  position: relative;
}