@import "../../../styles/mixin";
@import "../../../styles/container";

.request {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    width: 90%;
    margin-bottom: 20px;

    @include for-size(tablet) {
      width: 70%;
      margin-bottom: 40px;
    }
    @include for-size(laptop) {
      width: 65%;
      margin-bottom: 60px;
    }
    @include for-size(desktop) {
      width: 70%;
      margin-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    list-style: none;
    width: 80%;

    @include for-size(tablet) {
      gap: 14px;
      width: 70%;
    }
    @include for-size(laptop) {
      gap: 20px;
      width: 60%;
    }
    @include for-size(desktop) {
      gap: 22px;
      width: 70%;
    }
  }

  &__list_text {
    &:last-child {
      margin-bottom: 0px;
    }

    display: flex;
    align-items: start;
    width: 80%;
  }

  &__svg {
    margin-right: 8px;

    @include for-size(tablet) {
      margin-right: 14px;
    }
    @include for-size(laptop) {
      margin-right: 20px;
    }
    @include for-size(desktop) {
      margin-right: 22px;
    }
  }
}

.request__svg_img {
  width: 9px;
  height: 8px;
  margin-right: 8px;
  margin-top: 2px;

  @include for-size(tablet) {
    width: 15px;
    height: 14px;
    margin-right: 14px;
  }

  @include for-size(laptop) {
    width: 20px;
    height: 20px;
    margin-right: 19px;
  }

  @include for-size(desktop) {
    width: 24px;
    height: 23px;
    margin-right: 22px;
  }
}

.blur {
  position: absolute;
  pointer-events: none;

  &_item {
    position: relative;
    pointer-events: none;

    @include for-size(tablet) {
      background-image: url(../../../images/blur/request_blurT.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 721px;
      height: 541px;
    }

    @include for-size(laptop) {
      background-image: url(../../../images/blur/request_blurD.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 1077px;
      height: 676px;
    }

    @include for-size(desktop) {
      background-image: url(../../../images/blur/request_blurD.png);
      background-repeat: no-repeat;
      width: 1240px;
      height: 778px;
    }
  }
}
