@import "../../../styles/mixin";
@import "../../../styles/container";

.request {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    max-width: 290px;
    color: #000;
    margin-top: 9px;
    margin-bottom: 36px;

    @include for-size(tablet) {
      max-width: 443px;
      font-size: 13px;
      letter-spacing: 0.521px;
      margin-bottom: 16px;
    }

    @include for-size(laptop) {
      min-width: 591px;
      font-size: 18px;
      letter-spacing: 0.72px;
      margin-bottom: 95px;
    }

    @include for-size(desktop) {
      min-width: 680px;
      font-size: 20px;
      letter-spacing: 0.8px;
      margin-bottom: 110px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 220px;

    @include for-size(tablet) {
      width: 380px;
    }

    @include for-size(laptop) {
      width: 506px;
    }

    @include for-size(desktop) {
      width: 582px;
    }
  }

  &__list_text {
    &:last-child {
      margin-bottom: 0px;
    }
    display: flex;
    align-items: flex-start;
    width: 100%;
    color: #000;
    font-size: 10px;
    margin-bottom: 8px;

    @include for-size(tablet) {
      width: 100%;
      font-size: 13px;
      letter-spacing: 0.521px;
      margin-bottom: 15px;
    }

    @include for-size(laptop) {
      width: 100%;
      font-size: 18px;
      letter-spacing: 0.72px;
      margin-bottom: 19px;
    }

    @include for-size(desktop) {
      margin-bottom: 22px;
      width: 100%;
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  &__svg {
    margin-right: 8px;
    @include for-size(tablet) {
      margin-right: 14px;
    }

    @include for-size(laptop) {
      margin-right: 19px;
    }

    @include for-size(desktop) {
      margin-right: 22px;
    }
  }
}

.request__svg_img {
  width: 9px;
  height: 8px;
  margin-right: 8px;
  margin-top: 2px;

  @include for-size(tablet) {
    width: 15px;
    height: 14px;
    margin-right: 14px;
  }

  @include for-size(laptop) {
    width: 20px;
    height: 20px;
    margin-right: 19px;
  }

  @include for-size(desktop) {
    width: 24px;
    height: 23px;
    margin-right: 22px;
  }
}
