@import "./../../../styles/mixin";
@import "./../../../styles/colors";
@import "./../../../styles/container";

.page_contact{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.dashboard__container{
  display: flex;
  gap: 20px;
}
