@import "./../../../styles/mixin";
@import "./../../../styles/colors";
@import "./../../../styles/container";

.blog {
  &__hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 68px;

    @include for-size(tablet) {
      margin-bottom: 86px;
    }
    @include for-size(laptop) {
      margin-bottom: 130px;
    }
    @include for-size(desktop) {
      margin-bottom: 140px;
    }
  }

  &__title {
    margin-bottom: 16px;
    @include for-size(tablet) {
      margin-bottom: 26px;
    }
    @include for-size(laptop) {
      margin-bottom: 34px;
    }
    @include for-size(desktop) {
      margin-bottom: 50px;
    }
  }

  // &__paragraph {
  //   width: 290px;
  //   font-size: 12px;
  //   font-weight: 400;
  //   line-height: 130%;
  //   letter-spacing: 0.8px;
  //   margin: 0 auto;

  //   @include for-size(tablet) {
  //     width: 400px;
  //     font-size: 14px;
  //   }
  //   @include for-size(laptop) {
  //     width: 520px;
  //     font-size: 18px;
  //   }
  //   @include for-size(desktop) {
  //     width: 560px;
  //     font-size: 20px;
  //   }
  // }
}

// ==============================================//
// ====================CARDS=====================//
// ==============================================//

.blog__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 65px;

  @include for-size(tablet) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    margin-bottom: 8%;
  }
  @include for-size(laptop) {
    gap: 38px;
    row-gap: 80px;
  }
  @include for-size(desktop) {
    gap: 40px;
    row-gap: 160px;
  }
}

// ==============================================//
// ====================FILTER====================//
// ==============================================//

.blog__filter {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

// ==================================================//
// =====================CAROUSEL=====================//
// ==================================================//
.blog__filter {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_carousel {
    display: flex;
    align-items: center;
    opacity: 1;
    gap: 10px;
    margin-bottom: 3%;
    transition: transform 0.3s ease-in-out;
    scroll-behavior: smooth;

    @include for-size(tablet) {
      gap: 25px;
    }
    @include for-size(laptop) {
      gap: 50px;
    }
    @include for-size(desktop) {
      gap: 50px;
    }

    &.animate.slideLeft {
      animation: slideInLeft 0.5s ease-in-out;
      transition: none;
    }

    &.animate.slideRight {
      animation: slideInRight 0.5s ease-in-out;
      transition: none;
    }
  }

  .blogFilterButton.animate {
    animation: slideInLeft 0.5s ease-in-out;
    transition: none;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &_controls {
    display: flex;
    gap: 10px;
    @include for-size(tablet) {
      gap: 15px;
    }
    @include for-size(laptop) {
      gap: 20px;
    }
    @include for-size(tablet) {
      gap: 25px;
    }
  }

  &_indicator {
    cursor: pointer;
    border: none;
    color: #a7caf0;
    background-color: transparent;
    transition: background-color 5s ease;
    opacity: 0.3;
    font-size: 16px;

    @include for-size(tablet) {
      font-size: 20px;
    }
    @include for-size(laptop) {
      font-size: 24px;
    }
    @include for-size(desktop) {
      font-size: 30px;
    }

    &:hover {
      color: #a7caf0;
    }
  }
  .visible {
    opacity: 1;
    pointer-events: auto;
  }

  .animated {
    transition: opacity 0.5s ease;
  }
}

// ==================================================//
// ====================PAGINATION====================//
// ==================================================//

.pagination {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1%;
  margin-bottom: 65px;
}

.blog__filter_carousel {
  transition: transform 0.3s ease; /* Add transition property */
}
