@import "../../../styles/container";
@import "../../../styles/colors";
@import "../../../styles/mixin";
@import "../AuthSectionsCommon.module.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  margin-bottom: 32px;

  @include for-size(tablet) {
    align-items: start;
    margin-bottom: 43px;
    gap: 20px;
  }

  @include for-size(laptop) {
    margin-bottom: 32px;
    gap: 48px;
  }

  @include for-size(desktop) {
    margin-bottom: 53px;
  }
  &::before {
    content: "";
    width: 100%;
    background-color: $blog-card-text-color;
    height: 1px;
  }
}

.option {
  color: $heading-blue-color;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.4px;

  @include for-size(tablet) {
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  @include for-size(laptop) {
    font-size: 16px;
    letter-spacing: 0.6px;
  }

  @include for-size(desktop) {
    font-size: 18px;
    letter-spacing: 0.8px;
  }
}
