$aspectRatio: 269/290;
$currentW: clamp(250px, 90vw, 480px);
$fontSize: calc($currentW * 0.039);
$borderR: calc($currentW * 12 / 290);

.card {
  width: 100%;
  height: calc($currentW * $aspectRatio);
  border-radius: $borderR;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: calc($currentW * 16 / 680) calc($currentW * 40 / 680) calc($currentW * 25 / 680) 0px
    #00000026;
  background: linear-gradient(
    115.15deg,
    rgba(247, 205, 245, 0.23) -20.67%,
    rgba(242, 212, 239, 0.23) 48.71%,
    rgba(168, 225, 250, 0.0322) 99.46%
  );

  font-size: $fontSize;

  &__content {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: start;

    &__image {
      object-fit: cover;
      width: 45%;
      height: 100%;
      border-radius: $borderR 0 0 0;
    }
  }

  &__line {
    width: 100%;
    height: 0.5%;
    background-color: gray;
  }

  &__article {
    display: flex;
    align-items: end;
    height: 55%;

    &__text {
      align-self: flex-start;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;

      padding: 5%;
      width: 87%;
    }
    &__arrow {
      color: black;
    }
  }
}

.info {
  padding: 3%;
  width: 50%;

  &__title {
    text-wrap: balance;
    width: 100%;
    text-align: left;
    font-size: 1.05em;
    font-weight: 400;
    letter-spacing: 0.09em;
    margin-bottom: 15%;
  }
  &__author {
    color: #000000b2;
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 5%;
    &__icon {
      width: 2em;
      height: 2em;
      border-radius: 50%;
    }
  }
  &__time {
    color: #000000b2;
    font-size: 0.85em;
    letter-spacing: 0.09em;
  }
}
