@import "./../../styles/colors";
@import "./../../styles/mixin";
@import "./../../app/sections/article_page/ArticleSection.module.scss";

.article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;

  @include for-size(tablet) {
    gap: 30px;
    margin-bottom: 38px;
  }

  @include for-size(laptop) {
    gap: 38px;
    margin-bottom: 55px;
  }

  @include for-size(desktop) {
    gap: 58px;
    margin-bottom: 73px;
  }

  &__title {
    font-size: 15px;
    font-weight: 400;
    line-height: 130.49%;
    letter-spacing: 2.7px;
    color: $blog-card-text-color;

    @include for-size(tablet) {
      font-size: 20px;
    }

    @include for-size(laptop) {
      font-size: 26px;
    }

    @include for-size(desktop) {
      font-size: 30px;
    }
  }

  &__descripcion {
    color: $blog-card-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 130.49%;
    letter-spacing: 0.4px;

    @include for-size(tablet) {
      font-size: 16px;
      letter-spacing: 0.6px;
    }

    @include for-size(laptop) {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }
}
