@import "../styles/mixin";

.blogCard {
  @include for-size(tablet) {
    width: 168px;
    height: 207px;
    border-radius: 8px;
    box-shadow: 4.7px 6.3px 4.7px 0px #00000026;

    font-size: 12px;
    line-height: 17px;
  }

  @include for-size(laptop) {
    width: 240px;
    height: 303px;
    border-radius: 12px;
    box-shadow: 6.9px 9.2px 6.9px 0px #00000026;

    font-size: 19px;
    line-height: 25px;
  }

  @include for-size(desktop) {
    width: 320px;
    height: 393px;
    border-radius: 15px;
    box-shadow: 9px 12px 9px 0px #00000026;

    font-size: 25px;
    line-height: 33px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    115.15deg,
    rgba(247, 205, 245, 0.23) -20.67%,
    rgba(242, 212, 239, 0.23) 48.71%,
    rgba(168, 225, 250, 0.0322) 99.46%
  );

  &__image {
    object-fit: cover;
    @include for-size(tablet) {
      border-radius: 8px 8px 0 0;
    }
    @include for-size(laptop) {
      border-radius: 12px 12px 0 0;
    }
    @include for-size(desktop) {
      border-radius: 15px 15px 0 0;
    }

    width: 100%;
    height: 66%;
  }

  &__line {
    width: 100%;
    height: 0.45%;
    background-color: gray;
  }

  &__paragraph {
    font-weight: 400;
    letter-spacing: 0.09em;
    text-align: center;
    padding: 3%;
    padding-top: 5%;
    width: 94%;
    height: 24%;
    text-wrap: balance;
  }
}
