@import "./../styles/mixin";
@import "./../styles/colors";

.arrow {
  height: 42px;
  width: auto;

  @include for-size(desktop) {
    height: 55px;
  }
}

.slider {
  width: 768px;
  button {
    display: none;
  }

  @include for-size(laptop) {
    width: 1110px;
    button {
      font-size: 8px;
      display: flex;
    }
  }
  @include for-size(desktop) {
    width: 1440px;
    button {
      font-size: 10px;
      display: flex;
    }
  }

  &__card_extended {
    overflow: visible;
    display: flex;
    justify-content: center;
    @include for-size(tablet) {
      width: 246px;
    }
    @include for-size(laptop) {
      width: 360px;
    }
    @include for-size(desktop) {
      width: 467px;
    }
  }

  &__card_left {
    @include for-size(tablet) {
      padding: 0 78px 0 0;
    }
    @include for-size(laptop) {
      padding: 0 120px 0 0;
    }
    @include for-size(desktop) {
      padding: 0 146px 0 0;
    }
  }
  &__card_right {
    @include for-size(tablet) {
      padding: 0 0 0 78px;
    }
    @include for-size(laptop) {
      padding: 0 0 0 120px;
    }
    @include for-size(desktop) {
      padding: 0 0 0 148px;
    }
  }
  &__card_default {
    @include for-size(tablet) {
      padding: 0 40px 0 40px;
    }
    @include for-size(laptop) {
      padding: 0 60px 0 60px;
    }
    @include for-size(desktop) {
      padding: 0 74px 0 74px;
    }
  }
}
