@import "./../../styles/mixin";
@import "./../../styles/colors";
@import "./../../styles/container";

.filter__button {
  background: none;
  border: none;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding: 3px 3px;
  white-space: nowrap;

  @include for-size(tablet) {
    font-size: 14px;
    padding: 5px 10px;
  }
  @include for-size(laptop) {
    font-size: 18px;
    padding: 5px 20px;
  }
  @include for-size(desktop) {
    font-size: 24px;
    padding: 5px 25px;
  }
}

.activeFilter {
  color: $black-default;
}
