@import "../styles/mixin";


.articleCard {

    @include for-size(tablet){
        width: 352px;
        height: 249px;
        border-radius: 8px;

        font-size: 11px;
        line-height: 13px;
        box-shadow: 8.4px 21.0px 13.1px 0px #00000026;
      }

      @include for-size(laptop){
        width: 500px;
        height: 355px;
        border-radius: 12px;
        
        font-size: 15px;
        line-height: 20px;

        box-shadow: 12.3px 30.7px 19.2px 0px #00000026;
      }

      @include for-size(desktop){
        width: 650px;
        height: 460px;
        border-radius: 15px;

        font-size: 20px;
        line-height: 26px;

        box-shadow: 16px 40px 25px 0px #00000026;
      }
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(115.15deg, rgba(247, 205, 245, 0.23) -20.67%, rgba(242, 212, 239, 0.23) 48.71%, rgba(168, 225, 250, 0.0322) 99.46%);
    font-weight: 400;
    letter-spacing: 0.04em;
    
    &__content{

        width: 100%;
        height: 50%;
        display: flex;
        justify-content: start;
        
        &__image {
          width: 45%;
          height: 100%;
          border-radius: 15px 0 0 0;
        }

        &__info{
          width: 50%;
          height: 100%;

          text-align: left;

          display: flex;
          flex-direction: column;

            &__title {
                line-height: 1.4em;
                font-size: 1.2em;
                font-weight: 400;
                letter-spacing: 0.09em;  
                height: 35%;     
                margin: 3%;
                padding: 3%;      
                padding-top: 5%;
                padding-left: 5%;
            }
        
            &__author {
                display: flex;
                align-items: center;
                padding-left: 5%;
                margin: 3%;
                
                &__icon{
                    border-radius: 50%;
                    background-color: grey;
                    margin-right: 0.5em;
                    width: 2em;
                    height: 2em;
                }
                &__name{
                    color: #000000B2;
                }
            }
        
            &__readingTime {
                margin: 3%;
                padding-left: 5%;
                color: #000000B2;
            }
        }

    }

    &__line {
        width: 100%;
        height: 0.5%;
        background-color: gray;
        margin-bottom: 2%;
      }    

    &__text {
        position: relative;
        align-self: start;
        height: 40%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        padding: 3%;
        padding-left: 5%;
        width: 80%;
      }
    &__arrow{
        position: absolute; 
        bottom: 0; 
        right: 0; 
        margin: 3%;
        font-size: 0.5em;
        transition: margin-right 0.3s ease-in-out;
      }
        
    @include for-size(laptop){
      &:hover{
          .articleCard{
                  &__arrow{
                      margin-right: 1%;
                      margin-left: 5%;
                  }
          }
      }
    }
}