@import "./../../styles/colors";
@import "./../../styles/mixin";

.article_navigation_list {
  @include for-size(tablet) {
    position: sticky;
    top: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 200px;

    &::before {
      content: "";
      border-radius: 5px;
      height: 100%;
      width: 6px;
      background-color: $scrollbar-background;
      display: inline-block;
      position: absolute;
      margin-left: 2px;
    }
  }

  @include for-size(laptop) {
  }

  @include for-size(desktop) {
    margin-top: 250px;
  }
}

.article_navigation_link {
  @include for-size(tablet) {
    display: inline-block;
    width: 100%;
    color: $service-heading-color;
    padding-left: 20px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.49%;
    letter-spacing: 1.8px;
    position: relative;
  }
  @include for-size(laptop) {
    font-size: 14px;
    letter-spacing: 2px;
    padding-left: 30px;
  }

  @include for-size(desktop) {
    font-size: 16px;
    letter-spacing: 2.7px;
    padding-left: 40px;
  }
}

.active {
  color: $scrollbar-color;

  &::before {
    content: "";
    border-radius: 5px;
    height: 100%;
    width: 10px;
    background-color: $scrollbar-color;
    display: inline-block;
    position: absolute;
    left: 0;
  }
}
