@import "@/styles/mixin";
@import "@/styles/colors";
@import "@/styles/container";

.input {
  &__scroll {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 25px;
    max-height: 589px;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;
  }

  &__entry {
    background: rgba(175, 218, 237, 0.1);
    border: 2px solid rgba(72, 138, 167, 0.3);
    height: 36px;
    border-radius: 15px;
    padding: 0 20px;
    box-shadow: 2.5px 3.5px 8.5px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    resize: vertical;

    &:hover,
    &:focus {
      border: 2px solid #488aa7;
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    &::placeholder {
      color: #488aa775;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.7px;
    }

    &_extended {
      padding: 10px 20px;
      min-height: 160px;
      font-family: Roboto;
    }
  }

  &__line {
    width: 500px;
    border-bottom: 2px solid #afdaed80;
    margin-bottom: 20px;
    margin-right: 37px;
  }

  &__group_button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 50px;
    margin-right: 37px;
  }

  &__button {
    border: none;
    border-radius: 10px;
    padding: 10px 7px 10px 7px;
    justify-content: center;
    align-items: center;
    background: var(--cta, linear-gradient(99deg, #afdaed 4.34%, #84c6e2 94.12%));

    &_article {
      margin-bottom: 20px;
      margin-right: 37px;

      display: flex;
      justify-content: center;
      gap: 40px;
    }

    &_delete {
      background: linear-gradient(99deg, #edafaf 4.34%, #e28484 94.12%);
    }
  }
}
.select {
  width: 100%;
  background: rgba(175, 218, 237, 0.1);
  border: 2px solid rgba(72, 138, 167, 0.3);
  height: 40px;
  border-radius: 15px;
  padding: 0 20px;
  box-shadow: 2.5px 3.5px 8.5px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  resize: vertical;
  box-sizing: border-box;
  color: #488aa775;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.7px;

  &__option {
    &.hidden {
      display: none;
    }
  }
}
