@import "../../../styles/mixin";

.page{
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include for-size(tablet){
        gap: 80px;
    }

    @include for-size(laptop){
        gap: 120px;
    }

    @include for-size(desktop){
        gap: 150px;
    }
}