.order {
  padding: 30px 0;
  width: calc((1720px - 60px - 180px) / 2);
}

.order_editor {
  padding: 30px 0;
  width: calc((1720px - 60px - 180px) / 2);
  margin-left: 180px;
  margin-right: 60px;
}
