@import "../../styles/mixin";

.new_password {
  display: flex;
  align-items: center;
  margin-top: 10px;
  min-height: calc(100vh - 275px);

  @include for-size(tablet) {
    margin-top: 20px;
    min-height: calc(100vh - 286px);
  }

  @include for-size(laptop) {
    margin-top: 30px;
    min-height: calc(100vh - 459px);
  }

  @include for-size(desktop) {
    margin-top: 40px;
    min-height: calc(100vh - 520px);
  }
}