@import "../../../styles/container";
@import "../../../styles/mixin";

.our__chose {
  display: flex;
  flex-direction: column;
}

.reverseRow {
  display: flex;
  flex-direction: row;

  @include for-size(tablet) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.card:first-child {
  display: flex;
  flex-direction: column-reverse;

  @include for-size(tablet) {
    flex-direction: row;
  }
}

.card:nth-child(2) {
  display: flex;
  flex-direction: column-reverse;

  @include for-size(tablet) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.card:nth-child(3) {
  display: flex;
  flex-direction: column-reverse;

  @include for-size(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 40px;

  @include for-size(tablet) {
    justify-content: space-between;
    align-items: flex-end;
  }
}

.card {
  display: flex;
  flex-direction: column;

  @include for-size(tablet) {
    flex-direction: row;
    align-items: center;
    gap: 130px;
  }

  @include for-size(laptop) {
    gap: 180px;
  }

  @include for-size(desktop) {
    gap: 250px;
  }

  &__svg {
    &:last-child {
      margin-right: auto;
      margin-left: auto;
    }

    max-width: 100%;

    @include for-size(tablet) {
      width: 250px;
    }

    @include for-size(laptop) {
      width: 380px;
    }

    @include for-size(desktop) {
      width: 450px;
    }
  }

  &__description {
    font-size: 14px;

    @include for-size(tablet) {
      width: 377px;
      font-size: 16px;
    }

    @include for-size(laptop) {
      width: 410px;
      font-size: 18px;
      line-height: 130.49%;
      letter-spacing: 0.54px;
    }

    @include for-size(desktop) {
      width: 525px;
      font-size: 20px;
      letter-spacing: 0.6px;
    }
  }
}

.heading {
  margin-bottom: 10%;
}
