@import "../../../styles/mixin";
@import "../../../styles/container";

.our__card {
  display: none;

  @include for-size(tablet) {
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @include for-size(laptop) {
    gap: 50px 28px;
  }
  @include for-size(desktop) {
    gap: 60px 32px;
  }
}

.mobile {
  display: block;
  @include for-size(tablet) {
    display: none;
  }
}

.heading {
  margin-bottom: 7%;
}

.blur {
  position: absolute;
  pointer-events: none;

  &_item {
    position: relative;
    pointer-events: none;

    @include for-size(tablet) {
      background-image: url(../../../images/blur/blog_blurT.png);
      background-repeat: no-repeat;
      top: 60px;
      width: 345px;
      height: 310px;
    }

    @include for-size(laptop) {
      background-image: url(../../../images/blur/blog_blurL.png);
      top: -100px;
      width: 1108px;
      height: 597px;
    }

    @include for-size(desktop) {
      background-image: url(../../../images/blur/blog_blurD.png);
      bottom: 100px;
      width: 1440px;
      height: 776px;
    }
  }
}
