@import "../../../styles/mixin";
@import "../../../styles/container";

.our__card {
  display: none;

  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    column-gap: 23px;
    row-gap: 25px;
    flex-wrap: wrap;
  }

  @include for-size(laptop) {
    column-gap: 43px;
    row-gap: 45px;
  }
}

.mobile {
  display: block;
  @include for-size(tablet) {
    display: none;
  }
}

.heading {
  margin-bottom: 7%;
}


.blur {
  position: absolute;
  pointer-events: none;
  
  &_item {
    position: relative;
    pointer-events: none;

    @include for-size(tablet) {
      background-image: url(../../../images/blur/blog_blurT.png);
      background-repeat: no-repeat;
      top: 60px;
      width: 345px;
      height: 310px;
    }

    @include for-size(laptop) {
      background-image: url(../../../images/blur/blog_blurL.png);
      top: -100px;
      width: 1108px;
      height: 597px;
    }

    @include for-size(desktop) {
      background-image: url(../../../images/blur/blog_blurD.png);
      bottom: 100px;
      width: 1440px;
      height: 776px;
    }
  }
}
