@import "./../../../styles/mixin";
@import "./../../../styles/colors";
@import "./../../../styles/container";

.hero {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__technologies {
    margin-bottom: 8%;
  }

  &__heading {
    margin-bottom: 4%;

    @include for-size(tablet) {
      font-size: 36px;
      letter-spacing: 2.2px;
    }
    @include for-size(laptop) {
      font-size: 44px;
      letter-spacing: 2.6px;
    }
  }

  &__paragraph {
    @include for-size(tablet) {
      width: 555px;
      font-size: 17px;
      letter-spacing: 0.7px;
    }
    @include for-size(laptop) {
      width: 678px;
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }
}
