@import "./../../../styles/mixin";
@import "./../../../styles/colors";
@import "./../../../styles/container";

.hero {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__technologies {
    margin-bottom: 8%;
  }

  &__heading {
    margin-bottom: 4%;
    font-size: 25px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.5px;
    @include for-size(tablet) {
      font-size: 36px;
      letter-spacing: 2.2px;
    }
    @include for-size(laptop) {
      font-size: 44px;
      letter-spacing: 2.6px;
    }
  }

  &__paragraph {
    font-size: 20px;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.6px;
    @include for-size(tablet) {
      width: 555px;
      font-size: 17px;
      letter-spacing: 0.7px;
    }
    @include for-size(laptop) {
      width: 678px;
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }
}

.blur {
  position: absolute;

  &_item {
    position: relative;

    @include for-size(tablet) {
      background-image: url(../../../images/blur/custom_blurL.png);
      background-repeat: no-repeat;
      top: -100px;
      width: 733px;
      height: 638px;
    }

    @include for-size(laptop) {
      background-image: url(../../../images/blur/custom_blurL.png);
      background-repeat: no-repeat;
      left: 0px;
      top: -100px;
      width: 819px;
      height: 572px;
      bottom: 700px;
    }

    @include for-size(desktop) {
      background-image: url(../../../images/blur/custom_blurD.png);
      background-repeat: no-repeat;
      left: 100px;
      top: -150px;
      width: 1265px;
      height: 744px;
    }
  }
}