@import "./../styles/colors";
@import "./../styles/mixin";
@import "./../styles/container";

.projects {
  &__heading {
    margin-bottom: 10%;
  }

  &__mobile_slider {
    @include for-size(tablet) {
      display: none;
    }
  }

  &__desktop_wrapper {
    @include for-size(phone) {
      display: none;
    }

    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }

    @include for-size(desktop) {
      gap: 65px;
    }
  }
}
