@import "./../../../styles/mixin";
@import "./../../../styles/colors";
@import "./../../../styles/container";

.review {
  &__heading {
    margin-bottom: 5%;
  }

  &__content {
    @include for-size(phone) {
      display: none;
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__cards_mobile {
    @include for-size(tablet) {
      display: none;
    }
  }
}

.custom__control {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.arrow {
  user-select: none;

  @include for-size(tablet) {
    height: 26px;
    width: auto;
  }

  @include for-size(laptop) {
    height: 42px;
  }

  @include for-size(desktop) {
    height: 55px;
  }

  &__left {
    @include for-size(phone) {
      display: none;
    }
    @include for-size(tablet) {
      display: none;
    }

    @include for-size(laptop) {
      margin-left: -92px;
    }

    @include for-size(desktop) {
      margin-left: -112px;
    }
  }

  &__right {
    @include for-size(phone) {
      display: none;
    }
    @include for-size(tablet) {
      display: none;
    }

    @include for-size(laptop) {
      margin-right: -92px;
    }

    @include for-size(desktop) {
      margin-right: -112px;
    }
  }
}
