@import "../styles/colors";
@import "/styles/container";
@import "../styles/mixin";

.develop {
   
    &__heading{

        margin-bottom: 44px;
        @include for-size(tablet) {
            margin-bottom: 85px;
        }
    
        @include for-size(laptop) {
            margin-bottom: 201px;
        }
    
        @include for-size(desktop) {
            margin-bottom: 262px;
        }
      }
    
  &__desktop {
    
    @include for-size(tablet) {
        display: flex;
    flex-direction: column;
    gap: 68px;
    }

    @include for-size(laptop) {
        gap: 111px;
    }

    @include for-size(desktop) {
        gap: 145px;
    }
  }

  &__mob {
    display: flex;
    flex-direction: column;
    gap: 51px;

    @include for-size(tablet) {
        display:none;
    }

    @include for-size(laptop) {
    }

    @include for-size(desktop) {
    }
}
}