@import "../styles/colors";
@import "/styles/container";
@import "../styles/mixin";

.develop {
  margin-bottom: 60px;

  @include for-size(tablet) {
    margin-bottom: 70px;
  }

  @include for-size(laptop) {
    margin-bottom: 130px;
  }

  @include for-size(desktop) {
    margin-bottom: 200px;
  }

  &__heading {
    margin-bottom: 40px;
    @include for-size(tablet) {
      margin-bottom: 40px;
    }
    @include for-size(laptop) {
      margin-bottom: 60px;
    }
    @include for-size(desktop) {
      margin-bottom: 80px;
    }
  }

  &__desktop {
    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      gap: 68px;
    }
    @include for-size(laptop) {
      gap: 111px;
    }
    @include for-size(desktop) {
      gap: 145px;
    }
  }

  &__mob {
    display: flex;
    flex-direction: column;
    gap: 51px;
  }
}

.blur {
  position: absolute;
  pointer-events: none;
  
  &_item {
    position: relative;
    pointer-events: none;
  
    @include for-size(tablet) {
      background-image: url(../../../images/blur/custom_blurL.png);
      background-repeat: no-repeat;
      top: -300px;
      width: 733px;
      height: 638px;
    }

    @include for-size(laptop) {
      background-image: url(../../../images/blur/custom_blurL.png);
      left: 150px;
      top: -150px;
      width: 819px;
      height: 572px;
      bottom: 700px;
    }

    @include for-size(desktop) {
      background-image: url(../../../images/blur/custom_blurD.png);
      left: 200px;
      width: 1265px;
      height: 744px;
    }
  }
}

.blure {
  position: absolute;
  pointer-events: none;

  &_item {
    position: relative;
    pointer-events: none;

    @include for-size(tablet) {
      background-image: url(../../../images/blur/custom_blurL.png);
      background-repeat: no-repeat;
      transform: rotate(180deg);
      left: 0px;
      top: -520px;
      width: 733px;
      height: 638px;
    }

    @include for-size(laptop) {
      background-image: url(../../../images/blur/custom_blurL.png);
      background-repeat: no-repeat;
      left: 300px;
      top: -600px;
      width: 819px;
      height: 572px;
      bottom: 700px;
    }

    @include for-size(desktop) {
      background-image: url(../../../images/blur/custom_blurD.png);
      background-repeat: no-repeat;
      left: 200px;
      top: -900px;
      width: 1265px;
      height: 744px;
    }
  }
}
