@import "../styles/colors";
@import "/styles/container";
@import "../styles/mixin";

.develop{

    &__upsection{
        display: flex;
        flex-direction: column;
        padding: 0 52px 37px;
        align-items: center;
    }

  &__wrap{
    display: flex;
    margin-bottom: 18px;
  }  

&__pic1{
    width: 89px;
    height: 79px;
}
&__num{
    font-size: 77px;
    color: $placeholder-color;
}
&__title{
    width: 186px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}


}
