@import "../../../styles/mixin";

.project {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 45px;
  &__section {
    display: flex;
    flex-direction: column;
    gap: 96px;
  }
  @include for-size(tablet) {
    gap: 82px;
  }
  @include for-size(laptop) {
    gap: 85px;
  }
  @include for-size(desktop) {
    gap: 110px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  user-select: none;
  gap: 28px;
  &__container {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    align-items: center;
  }
  &__title {
    text-transform: uppercase;
    font-size: 29px;
    display: none;
  }
  &__info {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  @include for-size(tablet) {
    gap: 74px;
    &__container {
      gap: 57px;
    }
    &__title {
      display: block;
    }
    &__info {
      color: rgba(0, 0, 0, 0.7);
      font-size: 25px;
    }
  }

  @include for-size(laptop) {
    gap: 91px;
    &__container {
      gap: 59px;
    }
  }

  @include for-size(desktop) {
    gap: 95px;
    &__container {
      gap: 35px;
    }
    &__title {
      font-size: 30px;
    }
    &__info {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.activeInfo {
  font-weight: 500;
  color: #000;
}

.section__container {
  display: flex;
  flex-direction: column;

  gap: 25px;
  .chart__сontainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    // gap: 67px;
    // @include for-size(tablet) {
    //   gap: 117px;
    // }
    @include for-size(laptop) {
      // gap: 47px;
      flex-direction: row;
    }
    // @include for-size(desktop) {
    //   gap: 32px;
    // }
  }
}

.error__message {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  @include for-size(tablet) {
    font-size: 22px;
  }
  @include for-size(laptop) {
    font-size: 24px;
  }
}

$color-InProgress: #00a3cc;
$color-Completed: #49e2a2;
$color-OnHold: #ffa500;
$color-Canceled: #ff0000;

.vectorTile {
  display: flex;
  align-items: center;
  svg {
    width: 9px;
    height: 9px;
  }
  .statusText {
    color: #308bb7;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.3px;
    &[data-custom-title="In Progress"] {
      color: $color-InProgress;
    }
    &[data-custom-title="Completed"] {
      color: $color-Completed;
    }
    &[data-custom-title="On Hold"] {
      color: $color-OnHold;
    }
    &[data-custom-title="Canceled"] {
      color: $color-Canceled;
    }
  }
  @include for-size(tablet) {
    display: none;
  }
}
