@import "../../../styles/colors";
@import "../../../styles/mixin";
@import "../../../styles/container";

.title {
  text-align: center;
  color: $blog-card-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 130.49%;
  letter-spacing: 1.4px;
  margin-bottom: 25px;

  @include for-size(tablet) {
    text-align: start;
    font-size: 22px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
  }

  @include for-size(laptop) {
    font-size: 24px;
    letter-spacing: 1.6px;
    margin-bottom: 14px;
  }

  @include for-size(desktop) {
    font-size: 26px;
    letter-spacing: 1.8px;
    margin-bottom: 16px;

  }
}

.text {
  color: $blog-card-text-color;
  font-size: 13px;
  line-height: 130.49%;
  letter-spacing: 0.48px;
  margin-bottom: 40px;

  @include for-size(tablet) {
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 48px;
  }

  @include for-size(laptop) {
    font-size: 16px;
    letter-spacing: 0.6px;
    margin-bottom: 51px;
  }
}

.wrapper {
  width: 288px;

  @include for-size(tablet) {
    width: 314px;
  }

  @include for-size(laptop) {
    width: 352px;
  }

  @include for-size(desktop) {
    width: 372px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;


  @include for-size(tablet) {
    align-items: flex-start;
  }

  &::before {
    content: "";
    width: 100%;
    background-color: $blog-card-text-color;
    height: 1px;
    margin-bottom: 18px;

    @include for-size(tablet) {
       margin-bottom: 28px;
      }
    
      @include for-size(laptop) {
        margin-bottom: 32px;
        
      }
  }

  &__input {
    width: 100%;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid $navigation-light;
    padding: 9px 0;
    outline: transparent;

    @include for-size(tablet) {
      padding: 10px 0;
      font-size: 14px;
    }

    @include for-size(laptop) {
      padding: 11px 0;
      font-size: 16px;
    }

    @include for-size(desktop) {
      padding: 12px 0;
    }
  }

  &__button {
    padding: 15px 27px;
    font-size: 13px;
    line-height: 151.682%;
    letter-spacing: 0.4px;
    margin-top: 38px;

    @include for-size(tablet) {
      padding: 16px 30px;
      margin-top: 48px;
      font-size: 15px;
    }

    @include for-size(laptop) {
      padding: 18px 32px;
      font-size: 16px;
      margin-top: 58px;
    }

    @include for-size(desktop) {
      padding: 19px 35px;
      font-size: 18px;
      letter-spacing: 0.45px;
      margin-top: 65px;
    }
  }
}
.forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 68px;
  margin-top: 80px;
  margin-bottom: 89px;

  @include for-size(tablet) {
    flex-direction: row;
    align-items: inherit;
    gap: 88px;
    margin-top: 160px;
    margin-bottom: 195px;
  }

  @include for-size(laptop) {
    gap: 112px;
    margin-top: 180px;
    margin-bottom: 176px;
  }

  @include for-size(desktop) {
    gap: 174px;
    margin-top: 230px;
    margin-bottom: 186px;
  }
}
