@import "./Modal.module.scss";
.modal__text {
  font-size: 22px;
  font-weight: 700;
  width: 203px;
  text-align: center;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: calc(100% - 65px);
}
