@import "../../../styles/colors";

.input {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.input__container {
  background: rgba(175, 218, 237, 0.1);
  border: 2px solid rgba(72, 138, 167, 0.3);
  height: 36px;
  border-radius: 15px;
  padding: 0 20px;
  box-shadow: 2.5px 3.5px 8.5px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  resize: vertical;
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid #488aa7;
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.input__text {
  color: #488aa775;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.7px;
  user-select: none;
}

.text__color {
    color: black;
}
