.button__container {
    display: flex;
    justify-content: space-between;
    padding: 32px 35px 0 10px;
    margin-bottom: 36px;
}

.container {
    margin-top: 32px;
 
    &::before {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #AFDAED;
    }
}

.active {
    background: #488aa7;
    color: white;
}