@import "./../../../styles/mixin";
@import "./../../../styles/colors";
@import "./../../../styles/container";

.sorting {
  display: flex;
  flex-shrink: 0;
  gap: 14px;

  &__button {
    background-color: transparent;
    border: none;
    position: relative;
  }
}

.button__disabled {
  & img {
    opacity: 0.4;
    cursor: no-drop;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
