@import "./../../../styles/mixin";
@import "./../../../styles/container";

.articles {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0 40px 0;
  @include for-size(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 60px;
    padding: 8% 0 5% 0;
  }
  @include for-size(laptop) {
    gap: 40px;
    row-gap: 80px;
  }
  @include for-size(desktop) {
    row-gap: 100px;
  }
}
