@import "./../../../styles/mixin";
@import "./../../../styles/container";

.articles {
  display: grid;
  gap: 40px;
  margin-bottom: 100px;

  @include for-size(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    justify-content: center;
    row-gap: 40px;
    margin-bottom: 140px;
  }
  @include for-size(laptop) {
    row-gap: 80px;
    margin-bottom: 240px;
  }
  @include for-size(desktop) {
    row-gap: 160px;
    margin-bottom: 300px;
  }
}

.blur {
  position: absolute;
  pointer-events: none;

  &_item {
    position: relative;
    pointer-events: none;

    @include for-size(tablet) {
      background-image: url(../../../images/blur/footer_blurT.png);
      background-repeat: no-repeat;
      bottom: 450px;
      width: 712px;
      height: 203px;
    }

    @include for-size(laptop) {
      background-image: url(../../../images/blur/footer_blurL.png);
      bottom: 500px;
      left: 100px;
      width: 1045px;
      height: 298px;
    }

    @include for-size(desktop) {
      background-image: url(../../../images/blur/footer_blurD.png);
      bottom: 500px;
      left: 100px;
      width: 1349px;
      height: 385px;
    }
  }
}
