@import "../styles/colors";
@import "../styles/container";
@import "../styles/mixin";

.service {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 24px 40px 24px;
  background: $cookies-background;
  box-shadow: 11px 12px 5.8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  gap: 20px;

  @include for-size(tablet) {
    padding: 40px 30px 50px 30px;
    border-radius: 26px;
    align-items: left;
  }
  @include for-size(laptop) {
    width: 519px;
    border-radius: 28px;
    padding: 40px 60px 40px 60px;
    gap: 30px;
  }
  @include for-size(desktop) {
    width: 680px;
    border-radius: 32px;
    padding: 90px 64px 80px 64px;
    gap: 40px;
  }

  &__pic {
    width: 80px;
    height: 80px;
    user-select: none;
    margin-bottom: 18px;

    @include for-size(tablet) {
      width: 76px;
      height: 76px;
      margin-bottom: 22px;
    }
    @include for-size(laptop) {
      width: 114px;
      height: 114px;
      margin-bottom: 26px;
    }
    @include for-size(desktop) {
      width: 148px;
      height: 148px;
      margin-bottom: 40px;
    }
  }

  &__title {
    color: $black-default;
    text-align: center;
  }

  &__text {
    color: $black-default;
    text-align: center;

    @include for-size(tablet) {
      min-height: 320px;
    }
    @include for-size(laptop) {
      min-height: 320px;
    }
    @include for-size(desktop) {
      min-height: 280px;
    }
  }
}
