@import "../styles/colors";
@import "../styles/container";
@import "../styles/mixin";

.develop {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__upsection {
  
    margin-bottom: 31px;
    // display: none;
    @include for-size(tablet) {
   display: none;
    }
    @include for-size(laptop) {
        display: none;
    }
    @include for-size(desktop) {
        display: none;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    @include for-size(tablet) {
      
      display: none;
    }
    @include for-size(laptop) {
    }
    @include for-size(desktop) {
    }
  }
  &__num {
    font-size: 77px;
      font-weight: 400;
      line-height: 90.25px;
      letter-spacing: 2.31px;
      color: $placeholder-color;
    @include for-size(tablet) {
        display: none;
    }
    @include for-size(laptop) {
    }
    @include for-size(desktop) {
    }
  }
  &__pic1{
    width: 109px;
    height: 109px;
    @include for-size(tablet) {
        display: none;
      }
      @include for-size(laptop) {
      }
      @include for-size(desktop) {
      }

  }
  &__title{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.386px;
    @include for-size(tablet) {
        display: none;
      }
      @include for-size(laptop) {
      }
      @include for-size(desktop) {
      }

  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 298px;
    height: 119px;
    @include for-size(tablet) {
        display: none;
    }
    @include for-size(laptop) {
    }
    @include for-size(desktop) {
    }
  }
  &__item {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.4px;
    letter-spacing: 0.4px;

    padding-left: 20px;
    background-image: url("../../images/services/development/point.svg");
    background-size: 12px 12px;
    background-color: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    @include for-size(tablet) {
   
    }
    @include for-size(laptop) {
    }
    @include for-size(desktop) {
    }
  }

}