@import "./../../styles/mixin";
@import "./../../styles/colors";

.service {
  &__container {
    box-shadow: 6px 15px 10px 0px rgba(0, 0, 0, 0.15);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 25%),
      rgba(118, 228, 215, 25%)
    );

    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    padding: 40px 20px;
    user-select: none;

    @include for-size(tablet) {
      box-shadow: $services-slider-center-card-shadow;
      padding: 22px 42px 30px 42px;
      border-radius: 26px;
      margin-bottom: 0;
      height: 360px;
    }
    @include for-size(laptop) {
      border-radius: 28px;
      padding: 44px 70px;
      height: 480px;
    }
    @include for-size(desktop) {
      padding: 80px 100px 60px 100px;
      border-radius: 32px;
      min-height: 560px;
    }

    @media (min-width: 768px) {
      &:not(:first-child) {
        display: none;
      }
    }
  }

  &__image {
    margin-bottom: 16px;
    width: 64px;
    height: 64px;

    @include for-size(tablet) {
      margin-bottom: 24px;
      width: 74px;
      height: 74px;
    }
    @include for-size(laptop) {
      margin-bottom: 32px;
      width: 110px;
      height: 110px;
    }
    @include for-size(desktop) {
      margin-bottom: 40px;
      width: 144px;
      height: 144px;
    }
  }

  &__heading {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1.8px;
    margin-bottom: 30px;

    @include for-size(tablet) {
      margin-bottom: 20px;
      letter-spacing: 1.4px;
    }
    @include for-size(laptop) {
      font-size: 24px;
      margin-bottom: 50px;
      letter-spacing: 2px;
    }
    @include for-size(desktop) {
      font-size: 28px;
      margin-bottom: 70px;
      letter-spacing: 2.7px;
    }
  }

  &__paragraph {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    @include for-size(tablet) {
      letter-spacing: 0.4px;
    }
    @include for-size(laptop) {
      font-size: 16px;
      letter-spacing: 0.6px;
    }
    @include for-size(desktop) {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }
}
