@import "./../styles/mixin";

.heading {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-size(tablet) {
    align-items: flex-end;
    max-width: 500px;
  }
  @include for-size(laptop) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 550px;
  }
  @include for-size(desktop) {
    max-width: 720px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;

    @include for-size(tablet) {
      max-width: none;
      text-align: left;
    }

    @include for-size(laptop) {
      max-width: 505px;
      margin: 0;
    }

    @include for-size(desktop) {
      max-width: 645px;
      margin: 0;
    }
  }
}

.blur {
  position: absolute;
  pointer-events: none;

  &_item {
    position: relative;
    pointer-events: none;

    @include for-size(tablet) {
      background-image: url(../../images/blur/service_blurT.png);
      background-repeat: no-repeat;
      width: 326px;
      height: 284px;
      bottom: 50px;
    }

    @include for-size(laptop) {
      background-image: url(../../images/blur/service_blurL.png);
      background-repeat: no-repeat;
      width: 450px;
      height: 390px;
      bottom: 100px;
    }

    @include for-size(desktop) {
      background-image: url(../../images/blur/service_blurD.png);
      background-repeat: no-repeat;
      width: 588px;
      height: 514px;
    }
  }
}
