@import "./../styles/mixin";

.heading {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
  @include for-size(tablet) {
    max-width: 497px;
  }

  @include for-size(laptop) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 549px;
  }

  @include for-size(desktop) {
    max-width: 717px;
  }

  &__text {
    margin: 0 auto;
    padding-top: 13px;
    align-self: flex-start;
    text-align: center;
    max-width: 360px;

    @include for-size(tablet) {
      padding-top: 22px;
      text-align: left;
      max-width: none;
      font-size: 14px;
    }

    @include for-size(laptop) {
      padding-top: 30px;
      margin: 0;
      font-size: 15px;
      max-width: 491px;
      letter-spacing: 0.611px;
    }

    @include for-size(desktop) {
      padding-top: 40px;
      margin: 0;
      font-size: 20px;
      max-width: 644px;
      letter-spacing: 0.8px;
    }
  }
}
