@import "../styles/colors";
@import "../styles/container";
@import "../styles/mixin";

.servicecard {
  width: 290px;
  height: 395px;
  display: flex;
  flex-direction: column;
 
  background: $cookies-background;
  box-shadow: 1px 6px 8px 0px rgba(0, 0, 0, 0.25);

  @include for-size(tablet) {
    width: 348px;
    height: 460px;
    align-items: left;
    
  }
  @include for-size(laptop) {
    width: 92px;
    height: 19px;
  }
  @include for-size(desktop) {
    width: 119px;
    height: 24px;
  }

  &__wrap {
    width: 245px;
    display: flex;
    flex-direction: column;
     align-items: center;
    margin-left: 15px;

    @include for-size(tablet) {
      width: 347px;
      margin-left: 45px;
    
     
      
    }
    @include for-size(laptop) {
      width: 92px;
      height: 19px;
    }
    @include for-size(desktop) {
      width: 119px;
      height: 24px;
    }
  }

  &__pic {
    width: 57px;
    height: 56px;
    margin-top: 26px;

    @include for-size(tablet) {
      width: 75px;
      height: 74px;
      margin-top: 64px;
    }
    @include for-size(laptop) {
      width: 92px;
      height: 19px;
    }
    @include for-size(desktop) {
      width: 119px;
      height: 24px;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: black;
    line-height: 26px;
    margin-top: 17px;

    @include for-size(tablet) {
      width: 62px;
      height: 12px;
    }
    @include for-size(laptop) {
      width: 92px;
      height: 19px;
    }
    @include for-size(desktop) {
      width: 119px;
      height: 24px;
    }
  }
  &__text {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: black;
    line-height: 15.66px;
    margin-top: 13px;

    @include for-size(tablet) {
      font-size: 10px;
      width: 245px;
      height: 226px;
      margin-top: 17px;
    }
    @include for-size(laptop) {
      width: 92px;
      height: 19px;
    }
    @include for-size(desktop) {
      width: 119px;
      height: 24px;
    }
  }

  &__btnArrow {
    background-color: transparent;
    margin-left: auto;
    border: none;
    padding: 0px;
    height: 28px;

    @include for-size(tablet) {
      display: none;
    }
  }

  &__arrow {
    font-size: 28px;
  }
}
