@import "./../../styles/mixin";
@import "./../../styles/colors";

.service {
  display: flex;
  justify-content: center;

  @include for-size(tablet) {
    gap: 20px;
  }
  @include for-size(laptop) {
    gap: 40px;
  }

  &__mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include for-size(tablet) {
      display: none;
    }
  }

  &__card_left {
    align-self: flex-start;
    margin-top: auto;
  }

  &__card_large {
    align-self: center;
    @include for-size(phone) {
      display: none;
    }
  }

  &__card_right {
    align-self: flex-end;
    margin-bottom: auto;
  }

  &__card_left {
    --left-card-bg: linear-gradient(
      134deg,
      rgba(243, 223, 183, 0.6) 0%,
      rgba(246, 243, 170, 0.1) 100%
    );
  }
  &__card_right {
    --right-card-bg: linear-gradient(
      135deg,
      rgba(242, 212, 239, 0.4) 0%,
      rgba(242, 213, 241, 0.3) 100%
    );
  }
}
