@import "./../../styles/mixin";
@import "./../../styles/colors";

.service {
  box-shadow: $services-slider-small-card-shadow;
  border-radius: 8px;
  position: relative;

  &__container {
    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      width: 108px;
      height: 110px;
      padding: 51px 30px 51px 30px;
      border-radius: 12px;
    }
    @include for-size(laptop) {
      width: 154px;
      height: 151px;
      padding: 68px 43px 72px 43px;
      border-radius: 12px;
    }
    @include for-size(desktop) {
      width: 272px;
      height: 264px;
      padding: 88px 24px 18px 24px;
      border-radius: 15px;
    }
  }

  &--active {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 25%),
      rgba(118, 228, 215, 25%)
    );
  }

  @include for-size(phone) {
    display: none;
  }

  &__image {
    margin-bottom: 16px;
    width: 56px;
    height: 55px;

    @include for-size(tablet) {
      margin-bottom: 9px;
      width: 75px;
      height: 74px;
    }
    @include for-size(laptop) {
      margin-bottom: 13px;
      width: 109px;
      height: 107px;
    }
    @include for-size(desktop) {
      margin-bottom: 17px;
      width: 143px;
      height: 141px;
    }
  }

  &__heading {
    @include for-size(tablet) {
      text-align: center;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 130%;
      font-size: 18px;
    }
    @include for-size(laptop) {
      font-size: 24px;
    }
    @include for-size(desktop) {
      font-size: 28px;
    }
  }

  &__vector {
    @include for-size(tablet) {
      position: absolute;
      top: 180px;
      left: 135px;
      width: 20px;
      height: 20px;
    }
    @include for-size(laptop) {
      top: 255px;
      left: 200px;
      width: 27px;
      height: 27px;
    }
    @include for-size(desktop) {
      top: 320px;
      left: 270px;
      width: 30px;
      height: 30px;
    }
  }
}
