@import "./../styles/colors";
@import "./../styles/mixin";
@import "./../styles/container";

.heading {
  &__container {
    margin-bottom: 8%;
  }

  &__title {
    font-size: 22px;
    letter-spacing: 0.6px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 1.5%;
    margin-left: 1.5%;

    @include for-size(tablet) {
      font-size: 30px;
      letter-spacing: 0.9px;
    }
    @include for-size(laptop) {
      font-size: 44px;
      letter-spacing: 1.3px;
    }
    @include for-size(desktop) {
      font-size: 50px;
      letter-spacing: 1.5px;
    }
  }

  &__border {
    border-bottom: 1px solid;
  }

  &.yellowText {
    color: $heading-component-yellow;
  }
  &.purpleText {
    color: $heading-component-purple;
  }
  &.blueText {
    color: $heading-component-blue;
  }
  &.orangeText {
    color: $heading-component-orange;
  }
  &.greenText {
    color: $heading-component-green;
  }
  &.turquoiseText {
    color: $heading-component-turquoise;
  }
  &.pinkText {
    color: $heading-component-pink;
  }
}
