@import "./../../styles/mixin";
@import "./../../styles/colors";
@import "./../../styles/container";

.review {
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    margin: 10px;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.15);

    border-radius: 15px;
    padding: 26px 25px 40px 25px;
  }
  &__about {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }

  &__author___img {
    margin-right: 30px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    @include for-size(tablet) {
      width: 101px;
      height: 101px;
    }
    @include for-size(laptop) {
      width: 111px;
      height: 111px;
    }
    @include for-size(desktop) {
      width: 143px;
      height: 143px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__rating {
    color: #fcc71f;
    font-size: 150%;
    letter-spacing: 1.5px;
  }

  &__name {
    font-size: 17px;
    letter-spacing: 0.7px;
    line-height: 130%;
    margin-bottom: 20%;

    @include for-size(tablet) {
      font-size: 21px;
      letter-spacing: 0.9px;
    }
    @include for-size(laptop) {
      font-size: 23px;
    }
    @include for-size(desktop) {
      font-size: 30px;
      letter-spacing: 1.2px;
    }
  }
  &__text {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.8px;

    @include for-size(tablet) {
      width: 300px;
    }
    @include for-size(laptop) {
      width: 460px;
      min-height: 140px;
    }
    @include for-size(desktop) {
      width: 600px;
      min-height: 120px;
    }
  }
}
