@import "./../styles/colors";
@import "./../styles/mixin";
@import "../styles/container";

.technologies {
  &__imageWrapper {
    box-shadow: $technologies-card-shadow;
    background-color: $technologies-card-backbround;
    border-radius: 15px;

    max-width: 224px;
    max-height: 210px;

    @include for-size(tablet) {
      max-width: 216px;
      max-height: 208px;
    }

    @include for-size(laptop) {
      max-width: 239px;
      max-height: 229px;
    }

    @include for-size(desktop) {
      max-width: 320px;
      max-height: 307px;
    }
  }

  &__iconOpen {
    display: flex;
    fill: rgba(0, 0, 0, 0.6);
    max-width: 19px;
    max-height: 19px;

    padding-top: 7px;
    padding-right: 7px;

    @include for-size(tablet) {
      max-width: 22px;
      max-height: 22px;
      display: flex;
    }

    @include for-size(laptop) {
      display: none;
    }

    @include for-size(desktop) {
      display: none;
    }
  }

  &__iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__imageUIUX {
    margin-top: 16px;

    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 26px;

    max-width: 134px;

    @include for-size(tablet) {
      max-width: 119px;

      padding-left: 48.5px;
      padding-right: 48.5px;

      margin-top: 16px;
      margin-bottom: 20px;
    }

    @include for-size(laptop) {
      max-width: 135px;

      padding-top: 45px;
      padding-left: 52px;
      padding-right: 52px;

      margin-top: 0px;
      margin-bottom: 11px;
    }

    @include for-size(desktop) {
      max-width: 181px;

      padding-top: 60px;
      padding-left: 70px;
      padding-right: 70px;

      margin-top: 0px;
      margin-bottom: 15px;
    }
  }

  &__imageEcommerce {
    max-width: 134px;

    margin-top: 5px;
    padding-left: 45px;
    padding-right: 45px;

    margin-bottom: 8px;

    @include for-size(tablet) {
      max-width: 119px;

      padding-left: 49px;
      padding-right: 49px;
    }

    @include for-size(laptop) {
      padding-top: 29px;
      padding-left: 47px;
      padding-right: 47px;

      max-width: 145px;
    }

    @include for-size(desktop) {
      padding-top: 39px;
      padding-left: 63px;
      padding-right: 63px;

      max-width: 194px;
    }
  }

  &__imageSEO {
    max-width: 125px;

    margin-top: 0px;
    padding-left: 49px;
    padding-right: 50px;

    margin-bottom: 18px;

    @include for-size(tablet) {
      max-width: 119px;

      padding-left: 49px;
      padding-right: 49px;

      margin-bottom: 12px;
    }

    @include for-size(laptop) {
      padding-top: 22px;
      padding-left: 54px;
      padding-right: 54px;

      margin-bottom: 14px;

      max-width: 131px;
    }

    @include for-size(desktop) {
      padding-top: 29px;
      padding-left: 72px;
      padding-right: 72px;

      margin-bottom: 19px;

      max-width: 176px;
    }
  }

  &__imageAPI {
    margin-top: 0px;

    padding-left: 46px;
    padding-right: 46px;

    margin-bottom: 9px;

    max-width: 132px;

    @include for-size(tablet) {
      max-width: 119px;

      padding-left: 49px;
      padding-right: 49px;

      margin-bottom: 13px;
    }

    @include for-size(laptop) {
      padding-top: 22px;
      padding-left: 54px;
      padding-right: 54px;

      margin-bottom: 14px;

      max-width: 132px;
    }

    @include for-size(desktop) {
      padding-top: 29px;
      padding-left: 72px;
      padding-right: 72px;

      margin-bottom: 19px;

      max-width: 176px;
    }
  }

  &__headerWrapperImg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__textEcommerce {
    text-align: center;

    max-width: 100%;

    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.6px;

    padding-top: 31px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 26px;

    @include for-size(tablet) {
      max-width: 186px;

      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.6px;

      padding-top: 26px;
      padding-right: 18px;
      padding-left: 18px;
      padding-bottom: 26px;
    }

    @include for-size(laptop) {
      width: 190px;

      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.7px;

      padding-top: 34px;
      padding-right: 26.5px;
      padding-left: 26.5px;
      padding-bottom: 34px;
    }

    @include for-size(desktop) {
      width: 237px;

      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.7px;

      padding-top: 45px;
      padding-right: 41.5px;
      padding-left: 41.5px;
      padding-bottom: 55px;
    }
  }

  &__nameHeader {
    margin-bottom: 47px;
    @include for-size(tablet) {
      margin-bottom: 118px;
    }

    @include for-size(laptop) {
      margin-bottom: 135px;
    }

    @include for-size(desktop) {
      margin-bottom: 172px;
    }
  }

  &__imagesWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 32px;
    margin-bottom: 0px;

    width: 100%;

    @include for-size(tablet) {
      flex-wrap: wrap;
      justify-content: center;

      gap: 46px;
      margin-bottom: 0px;

      width: calc((100% + 250px) / 2);
    }

    @include for-size(laptop) {
      flex-wrap: nowrap;

      gap: 41px;
      margin-bottom: 0px;
    }

    @include for-size(desktop) {
      flex-wrap: nowrap;

      gap: 40px;
      margin-bottom: 27px;
    }
  }

  &__descriptionFotoUIUX {
    color: $heading-blue-color;

    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;

    text-align: center;

    margin-bottom: 36px;
    @include for-size(tablet) {
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 2px;

      margin-bottom: 50px;
    }

    @include for-size(laptop) {
      margin-bottom: 55px;

      font-size: 22px;
      line-height: 29px;
      letter-spacing: 2px;
    }

    @include for-size(desktop) {
      font-size: 30px;
      line-height: 39px;
      letter-spacing: 3px;

      margin-bottom: 74px;
    }
  }

  &__descriptionFotoSeo {
    color: $heading-blue-color;

    margin-bottom: 23px;

    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;

    @include for-size(tablet) {
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 1.8px;

      margin-bottom: 34px;
    }

    @include for-size(laptop) {
      margin-bottom: 40px;

      font-size: 22px;
      line-height: 29px;
      letter-spacing: 2px;
    }

    @include for-size(desktop) {
      margin-bottom: 54px;

      font-size: 30px;
      line-height: 39px;
      letter-spacing: 2.7px;
    }
  }

  &__descriptionFoto {
    color: $heading-blue-color;

    text-align: center;

    margin-bottom: 25px;

    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;

    @include for-size(tablet) {
      margin-bottom: 47px;

      font-size: 20px;
      line-height: 27px;
      letter-spacing: 2px;
    }

    @include for-size(laptop) {
      margin-bottom: 40px;

      font-size: 22px;
      line-height: 29px;
      letter-spacing: 2px;
    }

    @include for-size(desktop) {
      margin-bottom: 54px;

      font-size: 30px;
      line-height: 39px;
      letter-spacing: 2.7px;
    }
  }
}
