@import "./../styles/colors";
@import "./../styles/mixin";

.card {
  background: $our-projects-card-mobile-background;
  box-shadow: $our-projects-card-mobile-shadow;
  border-radius: 24px;

  &__main {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 20px 8px 10px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.1px;
  }

  &__image {
    max-width: 47%;
    height: auto;
    border-radius: 16px;
  }

  &__submain {
    padding: 20px 10px 24px 10px;
    font-size: 12px;
    display: flex;
    gap: 14px;
    align-items: start;
  }

  &__subinfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
  }

  &__desc {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }

  &__subdesc {
    width: 55%;
  }

  &__arrow_icon {
    width: 20px;
    height: 20px;
    color: $black-default;
  }

  &__link {
    color: $black-default;
  }

  &__tags {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.tags {
  max-width: 150px;
  gap: 4px;
  margin-bottom: 3%;
  display: flex;
  flex-wrap: wrap;

  &__item {
    color: $gray-default;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.4px;

    padding: 0px 6px;
    border: 1px solid rgb(220 151 151 / 30%);
    background-color: rgb(255 255 255 / 100%);
    border-radius: 100px;
  }
}
