@import "./../../../styles/colors";
@import "./../../../styles/mixin";
@import "./../../../styles/container";

.article_section {
  display: flex;
  @include for-size(tablet) {
    gap: 30px;
  }

  @include for-size(laptop) {
    gap: 60px;
  }

  @include for-size(desktop) {
    gap: 44px;
  }

  &_img_container {
    width: 290px;
    height: 140px;
    margin-bottom: 26px;

    @include for-size(tablet) {
      width: 460px;
      height: 250px;
      margin-bottom: 36px;
    }

    @include for-size(laptop) {
      width: 740px;
      height: 380px;
      margin-bottom: 60px;
    }

    @include for-size(desktop) {
      margin-bottom: 46px;
    }
  }

  &_title {
    color: $blog-card-text-color;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.49%;
    letter-spacing: 1.1px;
    margin-bottom: 16px;

    @include for-size(tablet) {
      font-size: 22px;
      letter-spacing: 1.9px;
      margin-bottom: 20px;
    }

    @include for-size(laptop) {
      font-size: 28px;
      letter-spacing: 2.5px;
    }

    @include for-size(desktop) {
      font-size: 40px;
      letter-spacing: 2.6px;
      margin-bottom: 32px;
    }
  }
}

.article_container {
  flex: 1;
}

.article_navigation {
  display: none;
  @include for-size(tablet) {
    width: 130px;
    display: initial;
  }

  @include for-size(laptop) {
    width: 290px;
  }

  @include for-size(desktop) {
    width: 320px;
  }

  &_list {
    @include for-size(tablet) {
      position: sticky;
      top: 200px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 200px;

      &::before {
        content: "";
        border-radius: 5px;
        height: 100%;
        width: 6px;
        background-color: $scrollbar-background;
        display: inline-block;
        position: absolute;
        margin-left: 2px;
      }
    }

    @include for-size(laptop) {
      margin-top: 250px;
    }
  }

  &_link {
    @include for-size(tablet) {
      display: inline-block;
      width: 100%;
      color: $service-heading-color;
      padding-left: 20px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130.49%;
      letter-spacing: 1.8px;
      position: relative;
    }
    @include for-size(laptop) {
      font-size: 14px;
      letter-spacing: 2px;
      padding-left: 30px;
    }

    @include for-size(desktop) {
      font-size: 16px;
      letter-spacing: 2.7px;
      padding-left: 40px;
    }
    &:hover {
      color: $blog-card-text-color;
    }
  }
}

.active {
  color: $scrollbar-color;

  &::before {
    content: "";
    border-radius: 5px;
    height: 100%;
    width: 10px;
    background-color: $scrollbar-color;
    display: inline-block;
    position: absolute;
    left: 0;
  }
}

.container_author {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 14px;
  align-items: center;

  @include for-size(tablet) {
    flex-direction: column;
    gap: 7px;
    margin-bottom: 18px;
    align-items: normal;
  }

  @include for-size(laptop) {
  }

  @include for-size(desktop) {
    gap: 10px;
    margin-bottom: 22px;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
  @include for-size(tablet) {
    gap: 14px;
  }

  @include for-size(laptop) {
    gap: 20px;
  }

  &_text {
    color: $service-heading-color;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.49%;
    letter-spacing: 0.3px;

    @include for-size(tablet) {
      font-size: 14px;
      letter-spacing: 0.5px;
    }

    @include for-size(laptop) {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  &_img_container {
    overflow: hidden;
    border: 1px solid grey; //видалити при підключенні беку
    border-radius: 50%;
    width: 16px;
    height: 16px;

    @include for-size(tablet) {
      width: 28px;
      height: 28px;
    }

    @include for-size(laptop) {
      width: 44px;
      height: 44px;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
