//Text colors
$hero-heading-color: #2b2b2c;
$hero-heading-blue-color: #27b7fc;
$heading-blue-color: #308bb7;
$heading-purple-color: rgba(160, 25, 155, 0.7);
$heading-green-color: rgba(60, 140, 100, 0.9);

$heading-component-yellow: #f7ad2b;
$heading-component-purple: #c336da;
$heading-component-blue: #84c6e2;
$heading-component-orange: #ef8a66;
$heading-component-green: #2c953d;
$heading-component-turquoise: #4bbac2;
$heading-component-pink: #ff79a0;

$blog-card-text-color: #161616;
$service-heading-color: rgba(0, 0, 0, 0.7);
$placeholder-color: rgba(0, 0, 0, 0.5);

$navigation-dark: #373a24;
$navigation-light: #8b8b8b;

$black-default: #000000;
$gray-default: #858585;
$white-default: #ffffff;
$blue-default: #005fcc;
$border-default: #cccccc;
$light-pink-default: #f0e6f0;
$sky-default: #a7caf0;
$background-blue-default: #afdaed;
$text-link-default: linear-gradient(180deg, #2a95f8 0%, #167bd9 100%);
$box-shadow-default: 12px 6px 12px 0px rgba(0, 0, 0, 0.15);

//Buttons
$button-shadow-colors: #a0189b50, #76bdd350, #13eb9050;
$button-shadow-duration: 5s;

$button-blue-background: linear-gradient(139deg, #afdaed 0%, #84c6e2 100%);
$button-blue-shadow: 0px 3px 32px 0px rgba(36, 141, 238, 0.3);

$button-blue-disabled: linear-gradient(139deg, #cce5f0 0%, #bcd7e3 100%);

$button-white-background: rgba(240, 210, 240, 0.07);
$button-white-shadow: 5px 6px 12px 0px rgba(0, 0, 0, 0.15);
$button-blue-form: linear-gradient(
  180deg,
  #308bb7 0%,
  rgba(48, 139, 183, 0.6) 100%
);

$button-dark-blue-background: linear-gradient(
  136deg,
  #308bb7 0%,
  rgba(48, 139, 183, 0.8) 100%
);

$scrollbar-color: #a7caf0;
$burger-menu-color: #83addf;
$scrollbar-background: #e8e8e8;

//Card backgrounds
$technologies-card-backbround: radial-gradient(
  150% 140% at 0% 0%,
  rgba(19, 235, 144, 0.1) 0%,
  rgba(246, 205, 245, 0.2) 40%,
  rgba(175, 218, 237, 0.3) 100%
);
$technologies-card-shadow: 2px 6px 8px 0px rgba(0, 0, 0, 0.25);

$cookies-background: radial-gradient(
  115% 135% at 100% 100%,
  rgba(160, 24, 155, 0) 0%,
  rgba(160, 24, 155, 0.1) 50%,
  rgba(133, 0, 127, 0.1) 100%
);
$cookies-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);

$services-slider-left-card-background: linear-gradient(
  134deg,
  rgba(243, 223, 183, 0.6) 0%,
  rgba(246, 243, 170, 0.1) 100%
);
$services-slider-right-card-background: linear-gradient(
  135deg,
  rgba(242, 212, 239, 0.4) 0%,
  rgba(242, 213, 241, 0.3) 100%
);
$services-slider-center-card-background: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.6) 0%,
  rgba(118, 228, 215, 0) 100%
);
$services-slider-small-card-shadow: 9px 12px 9px 0px rgba(0, 0, 0, 0.15);
$services-slider-center-card-shadow: 16px 40px 25px 0px rgba(0, 0, 0, 0.15);

$services-custom-apps-card-background: radial-gradient(
  115% 135% at 100% 100%,
  rgba(160, 24, 155, 0) 0%,
  rgba(160, 24, 155, 0.1) 50%,
  rgba(133, 0, 127, 0.05) 100%
);

$our-projects-card-mobile-background: linear-gradient(
  133deg,
  rgba(246, 205, 245, 0.2) 0%,
  rgba(242, 212, 239, 0.2) 60%,
  rgba(168, 225, 250, 0.03) 100%
);
$our-projects-card-mobile-shadow: 6px 16px 10px 0px rgba(0, 0, 0, 0.15);

$project-card-background: linear-gradient(
  90deg,
  rgba(175, 218, 237, 0.2) 0%,
  rgba(190, 244, 205, 0.3) 35%,
  rgba(243, 182, 241, 0.1) 100%
);
$project-card-shadow: 2px 17px 18px -2px rgba(0, 0, 0, 0.15);

$blog-card-background: linear-gradient(
  133deg,
  rgba(246, 205, 245, 0.3) 0%,
  rgba(242, 212, 239, 0.3) 60%,
  rgba(168, 225, 250, 0.03) 100%
);

$registration-info-card-background: linear-gradient(
  135deg,
  rgba(202, 214, 255, 0.4) 40%,
  rgba(242, 213, 241, 0.3) 100%
);

//Form backgrounds
$contact-us-form-background: radial-gradient(
  115% 135% at 100% 100%,
  rgba(160, 24, 155, 0) 0%,
  rgba(160, 24, 155, 0.1) 50%,
  rgba(133, 0, 127, 0.05) 100%
);

//Colorful site background
$main-purple: radial-gradient(
  50% 50% at 50% 50%,
  rgba(160, 24, 155, 0.2) 0%,
  rgba(160, 24, 155, 0) 100%
);
$main-cyan: radial-gradient(
  50% 50% at 50% 50%,
  rgba(19, 235, 144, 0.3) 0%,
  rgba(117, 184, 199, 0) 100%
);
$main-blue: radial-gradient(
  50% 50% at 50% 50%,
  rgba(118, 189, 211, 0.3) 0%,
  rgba(117, 184, 199, 0) 100%
);

//Rating stars color
$rating-stars-color: #fcc71f;

$main-green-color: rgba(59, 141, 97, 0.9);
$main-purple-color: rgba(160, 24, 155, 0.7);

//error input and message color
$error-color: #f00;
