//Text colors
$hero-heading-color: #2B2B2C;
$hero-heading-blue-color: #27B7FC;
$heading-blue-color: #308BB7;
$heading-purple-color: rgba(160, 24, 155, 0.70);
$heading-green-color: rgba(59, 141, 97, 0.87);

$blog-card-text-color: #161616;

$service-heading-color: rgba(0, 0, 0, 0.70);

$navigation-dark: #373A24;
$navigation-light: #8B8B8B;


//Buttons
$button-blue-background: linear-gradient(139deg, #AFDAED 0%, #84C6E2 100%);
$button-blue-shadow: 0px 3px 32px 0px rgba(36, 141, 238, 0.33);

$button-white-background: rgba(242, 212, 239, 0.07);
$button-white-shadow: 5px 6px 12px 0px rgba(0, 0, 0, 0.15);

$button-dark-blue-background: linear-gradient(136deg, #308BB7 0%, rgba(48, 139, 183, 0.79) 100%);

$scrollbar-color: #A7CAF0;
$burger-menu-color: #83ADDF;
$scrollbar-background: #E8E8E8;


//Card backgrounds
$technologies-card-backbround: radial-gradient(148.72% 141.42% at 0.00% 0%, rgba(19, 235, 144, 0.08) 0%, rgba(246, 205, 245, 0.23) 41.46%, rgba(175, 218, 237, 0.24) 100%);
$technologies-card-shadow: 2px 6px 8px 0px rgba(0, 0, 0, 0.25);

$cookies-background: radial-gradient(114.26% 136.20% at 100.00% 100.00%, rgba(160, 24, 155, 0.00) 0%, rgba(160, 24, 155, 0.11) 50%, rgba(133, 0, 127, 0.05) 100%);
$cookies-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);

$services-slider-left-card-background: linear-gradient(134deg, rgba(243, 223, 183, 0.58) 0%, rgba(246, 243, 170, 0.11) 100%);
$services-slider-right-card-background: linear-gradient(135deg, rgba(242, 212, 239, 0.39) 0%, rgba(242, 213, 241, 0.26) 100%);
$services-slider-center-card-background: linear-gradient(135deg, rgba(255, 255, 255, 0.58) 0%, rgba(118, 228, 215, 0.00) 100%);
$services-slider-small-card-shadow: 9px 12px 9px 0px rgba(0, 0, 0, 0.15);
$services-slider-center-card-shadow: 16px 40px 25px 0px rgba(0, 0, 0, 0.15);

$services-custom-apps-card-background: radial-gradient(114.26% 136.20% at 100.00% 100.00%, rgba(160, 24, 155, 0.00) 0%, rgba(160, 24, 155, 0.11) 50%, rgba(133, 0, 127, 0.05) 100%);

$project-card-background: radial-gradient(897.97% 128.57% at 4.17% 6.52%, rgba(175, 218, 237, 0.14) 0%, rgba(190, 244, 205, 0.34) 45.30%, rgba(243, 182, 241, 0.07) 100%);
$project-card-shadow: 2px 17px 18px -2px rgba(0, 0, 0, 0.15);

$blog-card-background: linear-gradient(133deg, rgba(246, 205, 245, 0.23) 0%, rgba(242, 212, 239, 0.23) 57.50%, rgba(168, 225, 250, 0.03) 99.55%);


//Form backgrounds
$contact-us-form-background: radial-gradient(114.26% 136.20% at 100.00% 100.00%, rgba(160, 24, 155, 0.00) 0%, rgba(160, 24, 155, 0.11) 50%, rgba(133, 0, 127, 0.05) 100%);


//Colorful site background
$main-purple: radial-gradient(50% 50.00% at 50% 50.00%, rgba(160, 24, 155, 0.21) 0%, rgba(160, 24, 155, 0.00) 100%);
$main-cyan: radial-gradient(50% 50.00% at 50% 50.00%, rgba(19, 235, 144, 0.25) 0%, rgba(117, 184, 199, 0.00) 100%);
$main-blue: radial-gradient(50% 50% at 50% 50%, rgba(118, 189, 211, 0.25) 0%, rgba(117, 184, 199, 0.00) 100%);


//Rating stars color
$rating-stars-color: #FCC71F;