@import-normalize;

//@import url("https://fonts.googleapis.com/css2?family=Besley&family=Open+Sans&family=Roboto:wght@300;400;500&display=swap");

@import "./colors";
@import "./container";
@import "./mixin";
@import "./fonts";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: "Roboto";
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
a,
p {
  color: $hero-heading-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.4px;

  @include for-size(tablet) {
    font-size: 16px;
    letter-spacing: 0.6px;
  }
  @include for-size(laptop) {
    font-size: 18px;
    letter-spacing: 0.8px;
  }
  @include for-size(desktop) {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

h1 {
  color: $hero-heading-color;
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;

  @include for-size(tablet) {
    font-size: 24px;
  }
  @include for-size(laptop) {
    font-size: 34px;
  }
  @include for-size(desktop) {
    font-size: 46px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2px;

  @include for-size(tablet) {
    font-size: 36px;
    letter-spacing: 2.6px;
  }
  @include for-size(laptop) {
    font-size: 48px;
    letter-spacing: 2.8px;
  }
  @include for-size(desktop) {
    font-size: 64px;
    letter-spacing: 4px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1px;

  @include for-size(tablet) {
    font-size: 20px;
    letter-spacing: 1.4px;
  }
  @include for-size(laptop) {
    font-size: 24px;
    letter-spacing: 2.2px;
  }
  @include for-size(desktop) {
    font-size: 30px;
    letter-spacing: 2.8px;
  }
}

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.4px;

  @include for-size(tablet) {
    font-size: 18px;
    letter-spacing: 0.6px;
  }
  @include for-size(laptop) {
    font-size: 20px;
    letter-spacing: 0.8px;
  }
  @include for-size(desktop) {
    font-size: 22px;
    letter-spacing: 1px;
  }
}
