@import "../../../styles/colors";
@import "../../../styles/container";
@import "../../../styles/mixin";
@import "../AuthSectionsCommon.module.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;

  @include for-size(tablet) {
    align-items: flex-start;
    gap: 25px;
  }

  @include for-size(laptop) {
    gap: 27px;
  }

  &::before {
    content: "";
    width: 100%;
    background-color: $blog-card-text-color;
    height: 1px;
  }
}

.error__password {
  color: $error-color;
  font-size: 12px;
  line-height: 154.5%;
  letter-spacing: 0.4px;
  margin-bottom: 27px;

  @include for-size(tablet) {
    font-size: 14px;
    margin-bottom: 25px;
  }

  @include for-size(laptop) {
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  @include for-size(desktop) {
    font-size: 18px;
    letter-spacing: 0.6px;
  }
}
