@import "../../../styles/colors";
@import "../../../styles/container";
@import "../../../styles/mixin";

.title {
  text-align: center;
  color: $blog-card-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 130.49%;
  letter-spacing: 1.4px;
  margin-bottom: 42px;

  @include for-size(tablet) {
    text-align: start;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 60px;
  }

  @include for-size(laptop) {
    font-size: 24px;
    letter-spacing: 2.2px;
    margin-bottom: 64px;
  }

  @include for-size(desktop) {
    font-size: 26px;
    letter-spacing: 2.4px;
    margin-bottom: 68px;
  }
}

.wrapper {
  width: 288px;

  @include for-size(tablet) {
    width: 400px;
  }

  @include for-size(laptop) {
    width: 416px;
  }

  @include for-size(desktop) {
    width: 432px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;

  @include for-size(tablet) {
    align-items: flex-start;
    gap: 25px;
  }

  @include for-size(laptop) {
    gap: 27px;
  }

  &::before {
    content: "";
    width: 100%;
    background-color: $blog-card-text-color;
    height: 1px;
  }

  &__input {
    width: 100%;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid $navigation-light;
    padding: 9px 0;
    outline: transparent;

    @include for-size(tablet) {
      padding: 10px 0;
      font-size: 16px;
    }

    @include for-size(laptop) {
      padding: 12px 0;
      font-size: 17px;
    }

    @include for-size(desktop) {
      padding: 14px 0;
      font-size: 19px;
    }
  }
  &__button {
    padding: 15px 27px;
    font-size: 13px;
    line-height: 151.682%;
    letter-spacing: 0.4px;
    margin-top: 33px;

    @include for-size(tablet) {
      padding: 21px 38px;
      font-size: 16px;
      letter-spacing: 0.5px;
    }

    @include for-size(laptop) {
      padding: 22px 41px;
      font-size: 18px;
      letter-spacing: 0.6px;
    }

    @include for-size(desktop) {
    }
  }
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 62px;
  margin-top: 64px;
  margin-bottom: 104px;

  @include for-size(tablet) {
    flex-direction: row;
    align-items: inherit;
    gap: 71px;
    margin-top: 113px;
    margin-bottom: 145px;
  }

  @include for-size(laptop) {
    gap: 102px;
    margin-top: 168px;
    margin-bottom: 214px;
  }

  @include for-size(desktop) {
    gap: 132px;
    margin-top: 218px;
    margin-bottom: 284px;
  }
}

.error__password {
  color: $error-color;
  font-size: 12px;
  line-height: 154.5%;
  letter-spacing: 0.4px;
  margin-bottom: 27px;

  @include for-size(tablet) {
    font-size: 14px;
    margin-bottom: 25px;
  }

  @include for-size(laptop) {
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  @include for-size(desktop) {
    font-size: 18px;
    letter-spacing: 0.6px;
  }
}
